<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>充值记录</title> #parse("/common/styleSheetCommon.html")
<link rel="stylesheet" type="text/css" href="/static/css/common/select-css.css" />
<link rel="stylesheet" type="text/css" href="/static/css/chailv-manage/data-manage/data-manage.css" />
<link rel="stylesheet" type="text/css" href="/static/css/common/second-nav.css" />
<link rel="stylesheet" type="text/css" href="/static/css/common/second-nav.css" />
<link rel="stylesheet" type="text/css" href="/static/css/chailv-manage/data-manage/my-chailv-order.css" />
<link rel="stylesheet" type="text/css" href="/resources/css/finance/finance_common.css" />
<link rel="stylesheet" type="text/css" href="/resources/css/finance/bussiness_bill.css" />
</head>
<body class="background-6461e2">
	#parse("/common/head.html")
	<!-- 主体 begin -->
	<div class="main-content margin-top-10 clear">
		#parse("/caiwu/bill/bill-common-left.html")
		<div class="aside-content float-left background-fff auto_bottom content_show">
			<form class="query_form" action="/prepay/topup/tecord/list" method="POST" id=trade_tecord_form>
				<div class="input-select clear">
					<input type="hidden" name="index" id="pageNo" value="$!{page.index}"> <input type="hidden" name="size" id="pageSize" value="$!{page.size}"> <input
						type="hidden" id="totalPage" value="$!{page.totalPage}"> <input type="hidden" id="total" value="$!{page.total}">

					<div class="margin-bottom-10 clear">
						创建日期<input type="text" class="input border-radius" id="start_time" name="startTime" value="$!{model.startTime}" readonly="readonly"
							onfocus="var checkOut=$dp.$('end_time');WdatePicker({isShowClear:false,readOnly:true,errDealMode:1,lang:'zh-cn',doubleCalendar:true,dateFmt:'yyyy-MM-dd',onpicked:function(){checkOut.focus();},maxDate:'%y-%M-%d'})">
						- <input type="text" class="input border-radius" id="end_time" name="endTime" value="$!{model.endTime}" readonly="readonly"
							onfocus="WdatePicker({isShowClear:false,readOnly:true,errDealMode:1,lang:'zh-cn',doubleCalendar:true,dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-{%d+1}',minDate:'#F{$dp.$D(\'start_time\',{M:0,d:0})}'})">

						<button type="submit" class="btn btn-default btn-big">查询</button>
						<button type="button" class="btn btn-default btn-big export_zhangdan " onclick="exportReport()">导出</button>
					</div>
				</div>
			</form>
			<div style="margin-top: -20px; margin-bottom: 20px; color: red;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;预存款余额：#if("$!{prepayAccount.totalPrice}"=="")0#else$!{prepayAccount.totalPrice}#end元</div>
			<div class="margin-top-30 orde-table-wraper">
				#if($!{page.items.size()}==0||"$!{page.items}"=="")
				<div class="no-data-wraper">
					<div class="no-data animated rotateIn">
						<div class="auvgo-approve-bg no-data-pic" title="暂无数据"></div>
						<div class="no-data-text">暂无数据</div>
					</div>
				</div>
				s #else
				<table class="table table-align">
					<thead class="thead-checked">
						<tr style="white-space: nowrap">
							<th>序号</th>
							<th>支付单号</th>
							<th>交易金额</th>
							<th>剩余金额</th>
							<th>交易类型</th>
							<th>备注</th>
							<th>交易时间</th>
						</tr>
					</thead>
					<tbody class="tbody-checked">
						#foreach($!ptr in $!page.items)
						<tr class="text-c" style="white-space: nowrap">
							<td>${vCount}</td>
							<td>$!{ptr.orderNo}</td>
							<td>$!{ptr.tradeAmount}</td>
							<td>$!{ptr.surplusAmount}</td>
							<td>$!{ptr.tradeType}</td>
							<td>$!{ptr.remark}</td>
							<td>$!dateTool.format('yyyy-MM-dd HH:mm:ss',$!{ptr.createTime})</td>
						</tr>
						#end
					</tbody>
				</table>
				#end
			</div>
			#if($page && $page.items && $!{page.items.size()}>0)
			<div id="kkpager"></div>
			#end
		</div>
	</div>
	<!-- 主体 end -->
	#parse("/common/foot.html")
	<script type="text/javascript" src="/resources/js/plugin/page/pager.min.js"></script>
	<script type="text/javascript" src="/resources/js/order/orderCommon.js"></script>
	<script type="text/javascript" src="/resources/js/finance/finance_common.js"></script>
	<script type="text/javascript">
		// 初始化分页  当前页数，  总页数， 总条数，  没页显示数据大小，  form表单， 模式
		kkpagerMain({
			'pageNo' : $("#pageNo"),
			'totalPage' : $("#totalPage"),
			'totalRecords' : $("#total"),
			'pageSize' : $("#pageSize"),
			'submit_element' : $("#trade_tecord_form"),
			'mode' : 'click'
		});

		function exportReport() {
			var startTime = $("#start_time").val();
			var endTime = $("#end_time").val();
			if (startTime == "" || endTime == "") {
				layer.msg("日期为空");
				return false;
			}
			location.href = "/report/topup/tecord/download?startTime=" + startTime + "&endTime=" + endTime;
		}
	</script>
</body>
</html>