<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>我的差旅</title>
		#parse("/common/styleSheetCommon.html")
		<link rel="stylesheet" type="text/css" href="/static/css/chailv-manage/data-manage/data-manage.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/chailv-manage/data-manage/my-chailv-order.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/common/second-nav.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/my-chailv/my-chailv.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/my-chailv/train-order-list.css"/>
	</head>
	<body class="background-6461e2">
		#parse("/common/head.html")
		<!-- 主体 begin -->
		<div class="main-content main-myChailv-c clear">
			<div class="float-left">
				#parse("/common/second-nav.html")
			</div>
			<div class="float-left list-content">
				<ul class="tab-model clear">
					<li class="float-left"><a href="/myChailv/toNewAirOrder/personal?tag=air" data-flag="personal" class="position float-left">个人订单</a></li>
					<li class="float-left"><a href="/myChailv/toNewAirOrder/all?tag=air" data-flag="all" class="position float-left">全部订单</a></li>
				</ul>
				<form action="/myChailv/toNewAirOrder/personal?tag=air" method="POST" id="AirOrderForm" data-query="queryForm" class="query_form">
					<input id="pageNo" type="hidden" name="pageNum">
					<input id="pageSize" type="hidden" name="pageSize" value="$!pageSize">
					<div class="input-select clear">
						<div class="input-model margin-default-r margin-10-b">
							<div class="i-m-text">日期类型：</div>
							<div class="i-m-input">
								<select id="date_select" class="_select_" name="dateType" data-ele="datatype" value="$!dateType" data-value="$!dateType">
									<option value="createtime">预订日期</option>
									<option value="deptdate">出发日期</option>
								</select>
							</div>
						</div>
						<div class="input-model margin-default-r margin-10-b middle-line position-rel">
							<div class="i-m-text">起始日期：</div>
							<div class="i-m-input">
								<input type="text" id="GTE_date" data-ele="sdate" name="GTE_date" value="" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly="readonly">
							</div>
						</div>
						<div class="input-model margin-default-r margin-10-b">
							<div class="i-m-text">截止日期：</div>
							<div class="i-m-input">
								<input type="text" id="LTE_date" data-ele="edate" name="LTE_date" value="$!LTE_date" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly="readonly">
							</div>
						</div>
						<div class="input-model margin-default-r margin-10-b">
							<div class="i-m-text">预订人：</div>
							<div class="i-m-input">
								<input type="text" class="bookPerson" data-ele="bookperson" name="q_LIKE_orders.bookusername" value="$!q_LIKE_orders_bookusername">
							</div>
						</div>
						<div class="input-model margin-default-r margin-10-b">
							<div class="i-m-text">乘机人：</div>
							<div class="i-m-input">
								<input type="text" class="passPerson" data-ele="passperson" name="q_LIKE_users.name" value="$!q_LIKE_users_name">
							</div>
						</div>
						#if($!fengxiaoFlag=="2")
						<div class="input-model margin-default-r margin-10-b">
							<div class="i-m-text">成本中心：</div>
							<div class="i-m-input">
								<select class="_select_ costCenter_select" data-ele="costcenter" name="q_EQ_orders.costid" data-value="$!q_EQ_orders_costid">
									<option value="">全部</option>
									#foreach($cost in $!costCenters)
									<option value="$!cost.id" class="text-ellipsis">$!cost.name</option>
									#end
								</select>
							</div>
						</div>
						<div class="input-model margin-default-r margin-10-b">
							<div class="i-m-text isHuiChuan_text">项目中心：</div>
							<div class="i-m-input">
								<select class="_select_ project_select" data-ele="project" name="q_EQ_orders.proid" data-value="$!q_EQ_orders_proid">
									<option value="">全部</option>
									#foreach($project in $!projects)
									<option value="$!project.id">$!project.name</option>
									#end
								</select>
							</div>
						</div>
						#end
						<div class="input-model margin-10-b train_query_box">
							<div class="i-m-text"></div>
							<div class="i-m-input">
								<button type="submit" class="btn btn-default btn-big">查询</button>
							</div>
						</div>
					</div>
				</form>
				<div class="margin-top-30 orde-table-wraper">
					## 全局变量-没有数据
					#set ($noData = ($!page.list.size() == 0))
					#if($noData)
					#parse("/common/no-data.html")
					#else
					<!-- table 表格部分 begin -->
					<table class="table table-align">
						<thead>
							<tr>
								<th>序号</th>
								<!-- <th class="table_caozuo">操作</th> -->
								<th>订单编号</th>
								<th>乘机人</th>
								<th>航程</th>
								<th>起飞时间</th>
								<th>航班号</th>
								<th>舱位</th>
								<th>应付金额</th>
								<th>预订时间</th>
								<th>审批状态</th>
								<th>支付状态</th>
								<th>订单状态</th>
								<th>是否送审</th>
								
							</tr>
						</thead>
						<tbody>
							#foreach($order in $!page.list)
							<tr>
								<td>$!vCount </td>
								<td>
									<a data-href_="/myChailv/toAirOrderDetail/$!order.orderno" href="javascript:void(0);" class="orderToDetail">$!order.orderno</a>
									<!-- <button class="btn btn-default btn-small-small">退</button> -->
								</td>
								<td><div class="hoverTips hover_content">$!order.username</div></td>
								<td>
									#foreach($!segmentname in $!order.segmentname.split(','))
									$!segmentname <br/>
									#end
								</td>
								<td class="line-height-td">
									#foreach($!depttimes in $!order.depttimes.split(','))
									$!depttimes <br/>
									#end
								</td>
								<td>
									#foreach($!airline in $!order.airline.split(','))
									$!airline <br/>
									#end
								</td>
								<td>
									#foreach($!cabins in $!order.cabins.split(','))
									$!cabins 舱<br/>
									#end
									</td>
								<td>$!order.totalprice</td> 
								<td class="line-height-td" >$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!order.createtime)</td>
								<td>$!baseStatus.getApproveStatus($!order.approvestatus)</td>
								
								#if($!order.paystatus == 1)
									#if($!order.pay_type == 1)
										<td>$!baseStatus.getPaystatus($!order.paystatus) - 企业月结</td>
									#else
										<td>$!baseStatus.getPaystatus($!order.paystatus)</td>
									#end
									
								#else
									<td>$!baseStatus.getPaystatus($!order.paystatus)</td>
								#end
								<td>
									#if($!order.status == 2)
									<span class="color-ching">$!airUtils.getairOrderStatus($!order.status)</span>
									#elseif($!order.status == 5)
									<span class="color-red">$!airUtils.getairOrderStatus(6)</span>
									#elseif($!order.status == 4)
									<span class="color-red">$!airUtils.getairOrderStatus(7)</span>
									#else
									$!airUtils.getairOrderStatus($!order.status)
									#end
								</td>
								<td>#if($!order.approvestatus == 3)否#else是#end</td>
							</tr>
							#end
						</tbody>
					</table>
					#end
					<input type="hidden" data-ele="pagenum" value="$!page.pageNum">
					<input type="hidden" data-ele="pages" value="$!page.pages">
					<input type="hidden" data-ele="total" value="$!page.total">
					<input type="hidden" data-ele="pagesize" value="$!pageSize">
				</div>
				<!-- table 表格部分 end -->
				#if(!$noData)
				<div id="kkpager"></div>
				#end
			</div>
		</div>
		<!-- 主体 end -->
		#parse("/common/foot.html")
		<script type="text/javascript" src="/static/js/crm/my-chailv/queryCookie.js"></script>
		<script type="text/javascript" src="/static/js/crm/my-chailv/orderCommon.js"></script>
		<script type="text/javascript" src="/static/js/crm/my-chailv/air-order.js"></script>
	</body>
</html>

