<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>国际需求单详情</title>
		#parse("/common/styleSheetCommon.html")
		<link rel="stylesheet" type="text/css" href="/static/css/my-chailv/new-order-detail.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/my-chailv/air-new-order-detail.css" />
	</head>
	<body class="background-6461e2">
		#parse("/common/head.html")

		<div class="main-content">
			<div class="margin-bottom-20"></div>
			<div class="order-status-wraper background-fff margin-bottom-20 border-r5">
				<div class="clear">
					<div class="float-left tarin-bg order-status text-align font-size-14 color-fff">
					$!airUtil.getxuqiudanStatus($!order.status)
					</div>
					<div class="clear float-left font-size-12">
						<div class="float-left order-num">
							<div class="color-gray">订单号</div>
							<div>$!order.orderno</div>
						</div>
						<div class="float-left order-num">
							<div class="color-gray">预订人</div>
							<div>$!order.bookusername</div>
						</div>
					</div>
				</div>
			</div>

			<div class="clear">
				<div class="order-left background-fff margin-bottom-20 border-r5 font-size-12 xuqiuDetail">
					<div class="o-title font-size-18">基本信息</div>
					<div class="o-content clear">
						<div class="chailv-left float-left order-num">
							<div class="color-gray margin-b-14">出发城市</div>
							<div>
							$!order.orgname
							</div>
						</div>
						<div class="chailv-left float-left order-num">
							<div class="color-gray margin-b-14">到达城市</div>
							<div>$!order.arrivename</div>
						</div>
						<div class="chailv-left float-left order-num">
							<div class="color-gray margin-b-14">出发日期</div>
							<div>$!order.fromday</div>
						</div>
						<div class="chailv-left float-left order-num">
							<div class="color-gray margin-b-14">到达日期</div>
							<div>$!order.arriveday</div>
						</div>
						<div class="chailv-left float-left order-num">
							<div class="color-gray margin-b-14">联系人</div>
							<div>$!order.linkman</div>
						</div>
						<div class="chailv-left float-left order-num">
							<div class="color-gray margin-b-14">联系电话</div>
							<div>$!order.mobile</div>
						</div>
						<div class="chailv-left float-left order-num">
							<div class="color-gray margin-b-14">护照号</div>
							#if($!order.passport !="")
							<div>$!order.passport</div>
							#else -- #end
						</div>
						<div class="chailv-left float-left order-num">
							<div class="color-gray margin-b-14">护照有效期</div>
							#if($!order.passportdate !="")
							<div>$!order.passportdate</div>
							#else -- #end
						</div>
					</div>
				</div>
				<div class="order-left background-fff margin-bottom-20 border-r5 font-size-12 xuqiuDetail">
					<div class="o-title font-size-18">联系信息</div>
					<div class="o-content clear">
						<div class="chailv-left float-left order-num">
							<div class="color-gray margin-b-14">联系人</div>
							<div>$!order.linkman</div>
						</div>
						<div class="chailv-left float-left order-num">
							<div class="color-gray margin-b-14">联系电话</div>
							<div>$!order.mobile</div>
						</div>
					</div>
				</div>
				<div class="order-left background-fff margin-bottom-20 border-r5 font-size-12 xuqiuDetail">
					<div class="o-title font-size-18">需求描述</div>
					<div class="o-content">
						$!order.remark
					</div>
				</div>
				<div class="text-align margin-bottom-20">
					<button class="btn btn-cancel btn-middle necess-order-cancle">返回</button>
				</div>
			</div>
		</div>

		#parse("/common/foot.html")
		<script type="text/javascript" src="/static/js/common/order-details-common.js"></script>
		<script type="text/javascript" src="/static/js/crm/my-chailv/international-order-detail.js"></script>
	</body>
	
</html>
