## 火车票车次信息模块
<div class="order-left background-fff margin-bottom-20 border-r5 font-size-12">
    <div class="o-title font-size-18">车次信息</div>
    <div class="o-content">
        <div class="clear margin-bottom-20">
            <div class="order-from float-left">
                <div class="font-size-14 margin-b-14">$route.fromStation</div>
                <div class="font-size-18 margin-b-14">$route.fromTime</div>
                <div class="font-size-14">$route.travelTime</div>
            </div>
            <div class="order-mid float-left text-align">
                <div class="">$route.trainCode</div>
                <div class="tarin-bg arrow-big"></div>
                <div class="">$seatType</div>
            </div>
            <div class="order-arrive float-left">
                <div class="font-size-14 margin-b-14 text-align-r">$route.arriveStation</div>
                <div class="font-size-18 margin-b-14 text-align-r">$route.arriveTime</div>
                <div class="font-size-14 text-align-r">$route.arrivalTime</div>
            </div>
        </div>
    </div>
</div>