<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>设置城市</title>
		#parse("/common/styleSheetCommon.html")
		<link rel="stylesheet" type="text/css" href="/static/css/common/select-css.css" />
	</head>
	<body class="background-6461e2">
		#parse("/common/head.html")
		<!-- breadcrumbs -->
		<div class="bread-crums main-content margin-top-10">
			#parse("/common/policy.html") > 设置城市/$!{name}
		</div>
		<!-- 主体 begin -->
		<div class="main-content margin-top-10 background-fff auto_bottom">
			<div class="content-only clear">
				#parse("/common/set-ctiy-rank.html")
			</div>
		</div>
		<!-- 主体 end -->
		#parse("/common/foot.html")
		<script type="text/javascript" src="/static/js/crm/policy/set-city.js"></script>
	</body>
</html>