<!-- 价格 -->
<!--<div class="hotel-infor-model background-fff  font-size-12 position">
	<div class="h-infor-h margin-bottom-20">
		<div class="h-infor-h-t-w margin-bottom-10 clear">
			<div class=" font-size-16 font-600  ">
				$!{orderDetail.hotelName}
				&lt;!&ndash;<span class="star-level"></span>&ndash;&gt;
				#if($!detail.category==5)
				<span class="star-level"></span>
				<span class="star-level"></span>
				<span class="star-level"></span>
				<span class="star-level"></span>
				<span class="star-level"></span>
				#elseif($!detail.category==4)
				<span class="star-level"></span>
				<span class="star-level"></span>
				<span class="star-level"></span>
				<span class="star-level"></span>
				<span class="nothing-star-level"></span>
				#elseif($!detail.category==3)
				<span class="star-level"></span>
				<span class="star-level"></span>
				<span class="star-level"></span>
				<span class="nothing-star-level"></span>
				<span class="nothing-star-level"></span>
				#end
			</div>
		</div>
		<div class="h-infor-h-desc clear">
			<span class=" float-left  color-888 margin-right-10 h-name-w" data-cityid="0101">$!{orderDetail.auxiliary.hotelAddress}</span>
			<span class="float-left">
				#if($!detail.category==5)
					豪华型
				#elseif($!detail.category==4)
					高档型
				#elseif($!detail.category==3)
					舒适型
				#else
					经济型
				#end
			</span>
		</div>
	</div>
	<div class="h-infor-i">
		<img src="$!{detail.coverImage.replace('120_120','480_350')}"   >
	</div>
</div>-->
<!--<div class="check-box border-r5" >
	<div class="o-title font-size-18 check-box-name text-align-c">$!{orderDetail.roomName}，$!{orderDetail.roomCount}间/$!{dayNum}晚</div>
	<div class="font-size-12 clear">
		<div class="book-sure-icon float-left clear ">
			&lt;!&ndash;<span class=" e-f-bg  e-fs-01 float-left"></span>&ndash;&gt;
			<span class="e-f-text float-left">#if($!room.windows=="1")有窗 #elseif($!room.windows=="2")部分有窗#else 无窗#end</span>
		</div>
		<div class="book-sure-icon float-left clear " >
			&lt;!&ndash;<span class="e-f-bg  e-fs-02 float-left"></span>&ndash;&gt;
			<span class="e-f-text float-right">$!{room.floor}层</span>
		</div>
		<div class="book-sure-icon float-left clear " >
			&lt;!&ndash;<span class="e-f-bg  e-fs-03 float-left"></span>&ndash;&gt;
			<span class="e-f-text float-left">$!{room.area}㎡</span>
		</div>
		<div class="book-sure-icon float-left clear ">
			&lt;!&ndash;<span class="e-f-bg  e-fs-04 float-left"></span>&ndash;&gt;
			<span class="e-f-text float-right">$!{room.bedDesc}</span>
		</div>
		<div class="book-sure-icon float-left clear ">
			&lt;!&ndash;<span class=" e-f-bg  e-fs-05 float-left"></span>&ndash;&gt;
			<span class="e-f-text float-left">可住$!{room.capacity}人</span>
		</div>
		<div class="book-sure-icon float-left clear ">
			&lt;!&ndash;<span class=" e-f-bg  e-fs-06 float-left"></span>&ndash;&gt;
			<span class="e-f-text float-right">#if($!room.broadNet=="1")免费宽带 #elseif($!room.windows=="2")收费宽带 #elseif($!room.windows=="3")免费WIFI#elseif($!room.windows=="4")收费WIFI#else 无#end</span>
		</div>
	</div>
</div>-->
<div class="h-infor-f order-right margin-bottom-10 border-r5">
	<div class="clear yingfu">
		<div class="float-left">应付金额</div>
		<div class="float-right color-D44A9F">
			<span class="font-size-12">￥</span><span>$!{orderDetail.totalPrice}</span>
		</div>
	</div>
	<div class="font-size-12 clear line-height-20">
		<span class="float-left ">房费</span>
		<span class="float-right color-000">$!{orderDetail.salePrice}</span>
	</div>
	#if($!orderDetail.isGuarantee)
	<div class="font-size-12 clear line-height-20">
		<span class="float-left ">担保费</span>
		<span class="float-right color-000">$!{orderDetail.guarantee}</span>
	</div>
	#end
	<div class="font-size-12 clear line-height-20">
		<span class="float-left ">服务费</span>
		<span class="float-right color-000">$!{orderDetail.auxiliary.charge}</span>
	</div>
</div>
<!--
<div class="order-right h-infor-f background-fff border-r5 prepaid-notice-box">
	<div class="font-size-16 margin-bottom-20 clear">预订须知</div>
	<div class="font-size-12 margin-bottom-20 clear">
		<span class="float-left w-p-70">#if($!bookModel.refundType=="NeedSomeDay")限时取消#elseif($!bookModel.refundType=="NoChange")不可取消#else 免费取消#end ：</span>
		<div class="float-left w-p-246">
			$!{orderDetail.auxiliary.refundDesc}
		</div>
	</div>
	<div class="font-size-12 margin-bottom-20 clear #if(!$!bookModel.isGuarantee)hide#end">
		<span class="float-left w-p-70">担保信息：</span>
		<div class="float-left w-p-246">
			房量紧张，订单提交后需在线支付 <span id="guaranteeRoomUnit">¥ $!{bookModel.guaranteeRate}</span>担保金，如未预订成功，担保金全部原路退还;<br/>
			入住结账，艺龙向酒店确认后，担保金全额原路退还;<br/>
			退还金额境内卡5个工作日内到账，境外卡20个工作日内到账;<br/>
		</div>
	</div>
	#if($!bookModel.bookRule!="" || $!bookModel.customerType !="All")
	<div class="font-size-12 margin-bottom-20 clear">
		<span class="float-left w-p-70">入住提示：</span>
		<div class="float-left w-p-246">
			#if("$!{bookModel.bookRule}"!="")
			$!{bookModel.bookRule};
			#end
			<br/>
			#if("OtherForeign"==$!bookModel.customerType || "FOREIGNER"==$!bookModel.customerType)
			酒店要求入住人须持国外护照办理入住！
			#elseif("HongKong"==$!bookModel.customerType)
			酒店要求入住人须持港澳台身份证办理入住！
			#elseif("Japanese"==$!bookModel.customerType)
			酒店要求入住人须持日本护照入住办理入住！
			#elseif("DOMESTIC"==$!bookModel.customerType || "Chinese"==$!bookModel.customerType)酒店要求入住人须持有效大陆身份证办理入住。 #end
		</div>
	</div>
	#end
	#if($!bookModel.invoiceType=="HOTEL" || $!bookModel.paymentType=="SelfPay")
	<div class="font-size-12 margin-bottom-20 clear">
		<span class="float-left w-p-70">发票提示：</span>
		<div class="float-left w-p-246" >
			如需发票，请从酒店前台索取
		</div>
	</div>
	#end
	<div class="font-size-12 clear">
		<span class="w-p-70 float-left">入住离店：</span>
		<div class="float-left w-p-246">
			${detail.arrivalTime}点之后允许客人入住；
			酒店离店的最晚${detail.departureTime}点;
		</div>
	</div>
</div>-->
