@charset "UTF-8";
.layer-container{
    ul{
        li{
          list-style-type: none;
        }
    }
    &,.layer-cover, .layer-content{
        position: fixed;top:0;left:0;z-index:999;width:100%;height:100%;
    }
    .layer-cover{
        background: #000;z-index:1;filter: alpha(opacity=80);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity: 0.4;
    }
    .layer-content{
        right:0;bottom:0;margin:auto;overflow:hidden;border-radius:10px;width: 760px; max-height: 524px;background: #fff;
    }
    .layer-title{
        padding:0 30px;position:relative;height:50px;line-height: 50px;font-size:14px;
    }
    .layer-close{
        position:absolute;top:18px;right:30px;width:15px;height:15px;line-height:12px;font-size:20px;cursor: pointer;
        &:hover{
            color:#ccc;
        }
    }
    .layer-select{
        padding: 0 30px;height: 70px;line-height: 70px;background: #f4f4f4;
        ul{
            float: left;margin-top:12.5px
        }
        li{
            position:relative;margin-right:10px;width:45px;height:45px;line-height: 45px;border-radius:50%;text-align:center;font-size:12px;background: #fff;cursor: pointer;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
        }
        .remove-target-p{
            background: #000;
            color:#fff;
        }
        button{
            float: right;margin-top: 20px;border:none;border-radius:2px;width: 62px;height: 30px;line-height: 28px;background: #3E4EB2;color:#fff;cursor: pointer;
            &:hover{
                background:#3E4EB2
            }
        }
    }
    .layer-tab{
        padding-left:30px;height:50px;background:#e3eaf7;
        li{
            float: left;margin-top:6px;width:145px;height:44px;line-height: 44px;text-align: center;cursor: pointer;
        }
        .layer-tab-target{
            background: #fff;
        }
    }
    .layer-tab-content{
        padding:20px 30px 30px 30px;
    }
    .history-container{
        margin-bottom: 14px;
    }
    .e-history-p{
        margin-right:15px;
    }
    .search-input{
        padding-left: 36px;
        border: 2px solid #d9e4fe;
        width: 642px;
        height: 40px;
        line-height: 40px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    .search-icon{
        width: 20px;
        height: 20px;
        top: 12px;
        left: 10px;
        background: url('../../images/common/train-bg.png') no-repeat -40px -92px;
    }
    .search-passenger-list{
        width: 682px;
        height: 217px;
        overflow: auto;
        li{
            height: 36px;
            line-height: 36px;
            padding-left: 36px;
            cursor: pointer;
            color: #999;
            &:hover{
                background: #e3eaf7;
            }
        }
        span{
            float: left;
            margin-right:20px;
        }
        .s-p-l-name{
            width:90px;
            color: #333;
            height:36px;
        }
        .s-p-l-certno{
            width:170px;
            height:36px;
        }
        .s-p-l-mobile{
            width:110px;
            height:36px;
        }
        .s-p-l-certer{
            width:160px;
            height:36px;
        }
    }
    .ul-item{
        height:32px;
        line-height: 32px;
        margin:0 20px 10px 0;
    }
    .ul-item input{
        width:240px;
    }
    .ul-item-name{
        width:70px;
    }
    .ul-item-select{
        left: -10px;
        top:0;
        color: red;
    }
    .drop{
        width:202px;
        float: left;
    }
}
//常用出行人的样式
.commonlyUsed{
    position:absolute;
    right:0;
    width:30px;
    height:20px;
    background:#D44A9F;
    margin-right:10px;
    color:#fff;
    text-align:center;
    font-size:12px;
    line-height:20px;
    top:7px;
}















