.query_form{height:34px;line-height: 34px;padding:17px 26px;}
.query_form .drop,.query_form .input{margin-right:15px;background:#fafafa;}
.query_form .input{width: 174px;padding-left:36px;font-size: 14px;}
.query_form .drop{width:80px;float: left}
.query_form .drop_title{background:#fafafa;}
.tab-city{width: 26px;height: 26px;line-height: 26px;margin:4px 10px 0 -5px;-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;overflow: hidden;}
.tab-city img{width:26px;background:#fff;}
.filter-tj{width:240px;}
.filter-tj-air{width:240px}
.airline-content{width:940px;}
.icon-search{width:20px;height:22px;left:8px;top:5px;}
.icon-search.icon-qifei{height:16px;top:8px;}
/***筛选栏 start***/
.filter-e-content{max-height:200px}
.filter{height:35px;line-height: 35px;}
.filter .stg-sort{position: relative;cursor: pointer;}
.stg-sort:after, .stg-sort:before {width: 0;height: 0;border: 5px solid #CFCFCF;content: "";position: absolute;right: -20px;}
.stg-sort:before {border-top: none;border-right-color: transparent;border-left-color: transparent;top: 3px;}
.stg-sort:after {border-bottom: none;border-right-color: transparent;border-left-color: transparent;bottom: 1px;}
.stg-s-up:before{border-bottom-color:#6461e2}
.stg-s-down:after{border-top-color:#6461e2}
.stg-sort-price{margin-left:370px;}
.filter-hb-xinxi{margin:0 184px 0 30px;}
/* .filter-ul{max-height:315px;overflow:auto} */
/***筛选栏 end***/

/*********机票列表 start*********/

.air-list-title{width: 880px;height: 44px;padding:23px 30px;}
.hb-content{margin-bottom: 10px;}
.a-l-com{width:75px;font-weight: bold;}
.air-list-comp{width:130px;}
.air-list-hbimg{width:24px;height:24px;margin-right:10px;}
.a-l-hbNum{padding-right:8px;}
.a-l-city{width:105px;}
.air-list-time{font-size:20px;height:20px;line-height:20px;margin-bottom:3px;font-weight: bold;}
.a-l-point{width:84px;height:5px;margin:18px 26px;background:url(../../img/airImg/air-bg.png) no-repeat -37px 0;}
.a-l-canshi{width:36px;height:42px;line-height:13px;}/* margin:9px 12px 0 12px; */
.air-list-weiFlag{width:46px;height:42px;line-height:42px;margin:0 16px 0 16px;color:#d10773}
.a-l-jtz{top: -20px;left: 30px;padding-bottom: 1px;border-bottom: 1px dashed;}
.air-list-cw{background:#fafafa;}
/* .air-list-weiFlag{background:url(../../img/airImg/air-bg.png) no-repeat 0px -38px} */
.air-list-price{width:86px;height:42px;line-height: 42px}
.a-l-countFlag{color:#d10773;}
.a-l-priceNum{font-size:20px;color:#d10773;}
.a-l-qi{color:#999;}
.air-list-book-shut{padding:6px 0 0 0px;}
.btn-book{width:62px;height:30px;line-height: 30px;}
.btn-book-shut{width:62px;padding-left:10px;}
.btn-book-shut:after{width:0;height:0;content:"";border:5px solid #fff;position: absolute;top:13px;left:42px;border-bottom: none;border-right-color:transparent;border-left-color: transparent;}
.air-list-cw li{height:60px;line-height: 52px;border-bottom:1px dashed #e9e9e9; position:relative;}
.a-l-cgw{margin-left:128px;padding:15px 22px 0 0;}
.a-l-cgw div{width:50px;height:22px;line-height: 20px;border:1px solid #d10773;color:#d10773;}
.a-l-cgw .xieyi{border-color:#614ec2;color:#614ec2}
.color-666{color:#666;}
.a-l-zhekou{width:84px;margin:0 18px;}
.air-tgq{height:12px;line-height:12px;}
.air-list-ep{width:84px;height:52px;line-height: 52px}
.a-l-cw-btn{padding-left: 26px}
.a-l-cw-btn .btn{margin-bottom:3px;}
.a-l-cw-c{padding-top:15px;}
.a-l-cw-wei{width:46px;height:52px;line-height:52px;background-position:0 -84px;}
.a-l-yuliang{width:33px;height:20px;line-height:20px;top:-14px;right:-23px;border:1px solid #614ec2;background: #fff;color:#614ec2;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.qc-xinxi{font-size:14px;height:35px;line-height:35px;padding:0 30px;}
.cf-name,.dd-name{color:#999;}
.qc-flag{width:15px;height:15px;line-height: 15px;margin:10px 10px 0 0;background: #614EC2;color:#fff;}
.qc-date{margin-left:29px;}
.qc-point{width:24px;height:5px;background:url(../../img/airImg/air-bg.png) no-repeat 0 -123px;}
.fengexian{padding:0 10px;}
.qc-point{margin: 15px 10px 0 10px;}
/*********机票列表 end*********/

/********左侧筛选栏 start*********/
.filter-tag{height:30px;line-height:30px;text-align:center;padding:0 8px;margin-right:10px}
.filter-close{margin-left:8px;}
.e-f-title{height:50px;line-height: 50px;padding-left:50px;cursor:pointer}
.e-f-title span{width:22px;height:22px;left:16px;top:15px;}
.e-f-title .icon-qifei-ccc{height:16px;top:17px;}
.e-f-title .icon-airline{height: 12px;top:19px;}
.e-filter li{height:45px;line-height: 45px;padding:0 16px;}
.air-icon{width: 16px;height: 18px;position: absolute;top: 14px;}

/*.e-filter .label span{position: absolute;left: -207px;width: 224px;text-align: left;padding-left: 16px;margin-bottom:0}*/
/*.filter-tj-air .e-filter .label span{left:-188px}*/
.e-filter .label span{position: absolute;left:20px;top:14px;}
.e-filter .label{padding-left: 0;width: 100%;height: 45px;line-height: 45px;position: relative;display:block;}
.e-filter .label .show_choice{top: 14px;left:190px;}




/*.filter-tj-air .e-filter .label .show_choice{left:0;}*/
/********左侧筛选栏 start*********/

/******悬浮 start*****/
.radius{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.hover-content{min-width:208px;padding:15px;border:1px solid #e9e9e9;left:-94px;top:27px;z-index: 3;display: none}
.jt_xinxi{height:12px;line-height:12px;}
.jt_xinxi_t{margin-bottom:6px;}
.jt_bottom_12{margin-bottom:12px}
.top-jiantou{top:-8px;left:98px}
.table-content table{width:369px;border-collapse:collapse}
.table-content td{border:1px solid #b5b5b5;}
.table-c-title{width:58px;height:49px;line-height:49px;text-align:center;background:#f2f2f2;}
.hotel-c-big{height: initial;}
.tdc{padding-left:8px}
/*******悬浮 end******/


/**************遮罩 start*****************/
.Screen-full{position:fixed}
.Screen-full,.Screen-zhezhao,.timeoutpage{width:100%;height:100%;top:0;left:0;z-index: 100003;}
.Screen-zhezhao{background:#000;opacity:0.3;filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"}
.query-loading{width:556px;height:234px;padding:50px 72px;top:50%;left:50%;margin-left:-350px;margin-top:-167px;position:absolute;background: #f4f4f4;z-index: 11;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.loadingImg{height:20px;margin:26px 0;}
.query-tips{margin:17px 0 11px 0;color:#d10773;}
.query-hc{height:74px;line-height:74px;background:#fff}
.wait-icon{font-size:25px;margin:25px 20px 0 46px;}
.wait-city{min-width:110px;_width:110px;padding-left:20px;}
.wait-city-after{padding:0 20px 0 0;}
.wait-jiantou{margin:35px 36px;}
.wait-hb-date{width:84px;height:12px;line-height:12px;font-size:12px;top:-17px;left:0;color:#999;}
.scroll-hide{overflow: hidden;margin-right: 15px;}
/**************遮罩 start*****************/
.tuijiao-line{width:640px;height:330px;top:50%;left:50%;margin-left:-366px;margin-top:-215px;position:absolute;z-index: 11;padding:35px 46px 46px 46px;}
.tj_t-price{color:#d10773;}
.tuijian-title,.policy_show{margin-bottom:26px;}
.continue-book{right:0;}
.hb_container{width:640px;height:184px}
.tuijian-list-ul{height:184px;white-space: nowrap;}
.e-hb-tuijian{width:166px;height:154px;border:2px solid #ccc;padding:10px 14px 16px 16px;margin-right: 20px;display: inline-block;}
.tuijian_airport{height:44px;line-height: 44px;}
.tuijian-airline{height:24px;line-height: 24px;color:#000;margin-bottom: 21px;}
.tuijian-price-z{color:#d10773;}
.t-count{font-weight: bold;}
.tuijian-book{width:45px;height:20px;line-height: 20px;vertical-align: top;}
.t-p-group{height:20px;line-height: 20px}
.tuijian-time-z{margin-right:10px;}
.timeoutpage{width:324px;height:132px;padding:50px 46px 34px 46px;top:50%;left:50%;margin-left:-208px;margin-top:-108px;position:absolute}
.danger_img{width:52px;height:52px;background:url(../../img/airImg/air-bg.png) no-repeat 0 -130px;}
.timeoutText{width:240px;line-height:20px;padding:4px 0 0 28px}
.repeatQuery{padding-top:50px}
.no-data-wraper{display:none}

.close_class{width:16px;height:16px;}

.btn_group{position: static}
.alert_main_ .main_content{margin-bottom:20px}
.alert_main_ .alert_content{height:auto}


.hoverFather .first {
	display: inline-block;
	width:300px!important;
}

/*廉价*/
/*.cheap{width:16px;margin-right: 10px;margin-top: 2px;line-height:18px;text-align: center;border:1px solid rgba(209,7,115,1);border-radius:2px; color:rgba(209,7,115,1)}*/

.cheap{
	width: 14px;
	height: 16px;
	margin-top: 5px;
	position: absolute;
	margin-left: -5px;
	color:#d10773;
	border:1px solid #d10773;
	text-align: center;
	line-height:16px;
	font-size: 12px;
}










