.padding-30{padding: 30px 0;}
.padding-bottom-50{padding-bottom: 50px;}
.padding-top-50{padding-top: 50px;}

.content-right{
    width: 1010px;
    
    &>ul{
        li{
            float: left;
            span{display: block;height: 26px;line-height: normal;}
        }
    }
    
    .my-infor{
        .infor-part-1{width: 150px;}
        .infor-part-2{width: 196px;}
        .infor-part-3{width: 304px;}
        .infor-part-4{width: 316px;}
    }
    
    .every-model{
        float: left;
        p{height: 36px;line-height: 36px;}
        
        li{height: 30px;line-height: 30px;}
    }
    
    .air-model{width: 25%;}
    .hotel-model{width: 30%;}
    .train-model{width: 45%;}
}

