html {
  height: 100%;
}
html body {
  height: 100%;
  background: #ececf0;
}
html body .on_trial_fix,
html body .service_cell_fix,
html body .action_up_fix {
  width: 60px;
  height: 60px;
  background: #1871e9;
  border-radius: 50%;
  bottom: 344px;
  position: fixed;
  right: 40px;
  z-index: 33;
  font-size: 17px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #ffffff;
  line-height: 60px;
  text-align: center;
}
html body .on_trial_fix:hover,
html body .service_cell_fix:hover,
html body .action_up_fix:hover {
  cursor: pointer;
}
html body .on_trial_fix {
  bottom: 524px;
}
html body .on_trial_fix img {
  vertical-align: middle;
}
html body .service_cell_fix {
  bottom: 434px;
}
html body .service_cell_fix .cell_img_box {
  position: absolute;
  top: 17px;
  right: 16px;
}
html body .service_cell_fix .cell_img_box img {
  width: 27px;
  height: 27px;
  display: block;
}
html body .service_cell_fix .cell_num {
  right: 80px;
  bottom: 0px;
  text-align: right;
  min-width: 120px;
  color: #333;
  font-size: 15px;
  line-height: 60px;
}
html body .cell_active {
  width: 200px;
  border-radius: 30px;
}
html body .cell_active .cell_num {
  color: #fff;
}
html body > .header {
  width: 100%;
  height: 70px;
  background: #231f3e;
  z-index: 36;
}
html body > .header > .container {
  line-height: 70px;
  top: 0;
  width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  color: #ffffff;
}
html body > .header > .container .header_left {
  height: 70px;
}
html body > .header > .container .header_left .logo_box {
  width: 197px;
  height: 70px;
  margin: auto 0;
}
html body > .header > .container .header_left .logo_box > img {
  width: 197px;
  height: 29px;
  vertical-align: middle;
}
html body > .header > .container .header_left .slogan_box {
  width: 81px;
  height: 70px;
  position: relative;
  margin: 0 117px 0 23px;
}
html body > .header > .container .header_left .slogan_box > img {
  width: 81px;
  height: 16px;
  vertical-align: middle;
}
html body > .header > .container .header_left .slogan_box:before {
  content: "·";
  font-size: 32px;
  width: 6px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 37px;
  color: rgba(255, 255, 255, 0.8);
}
html body > .header > .container .header_main {
  line-height: 67px;
}
html body > .header > .container .header_main > li {
  margin-right: 42px;
}
html body > .header > .container .header_main > li:nth-last-child(1) {
  margin-right: 134px;
}
html body > .header > .container .header_main > li:hover {
  color: #d11477;
  border-bottom: 3px solid #d11477;
}
html body > .header > .container .header_main > li:hover a {
  color: #d11477;
}
html body > .header > .container .header_main .active {
  color: #d11477;
  border-bottom: 3px solid #d11477;
}
html body > .header > .container .header_main .active a {
  color: #d11477;
}
html body > .header > .container .header_right {
  color: #7b728c;
  font-size: 12px;
}
html body > .header > .container .header_right .app_box > .cell_img {
  height: 22px;
  width: 16px;
  background: url(/static/img/img-new/websiteWizard.png) no-repeat no-repeat 0 0;
  background-position: -4px -4px;
  margin: 14px auto 13px auto;
}
html body > .header > .container .header_right .app_box .app_txt {
  height: 14px;
  line-height: 14px;
}
html body > .header > .container .header_right .app_box .erwei_img_box {
  width: 122px;
  height: 125px;
  top: 70px;
  z-index: 20;
  left: -32.2px;
}
html body > .header > .container .header_right .app_box .erwei_img_box img {
  display: block;
  width: 122px;
  height: 125px;
}
html body > .header > .container .header_right .app_box:hover {
  cursor: pointer;
}
html body > .header > .container .header_right .phone_box {
  margin-left: 13px;
}
html body > .header > .container .header_right .phone_box > .phone_img {
  height: 22px;
  width: 18px;
  background: url(/static/img/img-new/websiteWizard.png) no-repeat no-repeat 0 0;
  background-position: -3px -33px;
  margin: 14px auto 13px auto;
}
html body > .header > .container .header_right .phone_box .phone_txt {
  height: 14px;
  line-height: 14px;
}
html body > .header > .container .header_right .division {
  opacity: 0.14;
  height: 28px;
  padding: 0 1px 0 26px;
  margin: 21px 0;
  border-right: 1px solid #ffffff;
}
html body > .header #detailList {
  background: #231f3e;
  opacity: 0.94;
  padding-top: 40px;
  height: 630px;
}
html body > .header #detailList .detail-large {
  padding-bottom: 44px;
  color: #fff;
  font-size: 14px;
}
html body > .header #detailList .detail-large dl dd {
  line-height: 36px;
}
html body > .header #detailList .detail-large dl dd a {
  color: #9aa3ac;
}
html body > .header #detailList .detail-large .title-b {
  margin-bottom: 10px;
  margin-top: 25px;
  font-size: 16px;
}
html body > .header #detailList .detail-large .container {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #30333f;
}
html body > .header #detailList .detail-large .container .triangle-box {
  height: 5px;
  position: absolute;
  top: -5px;
}
html body > .header #detailList .detail-large .container .triangle-box .triangle {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom: 6px solid #d11477;
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -5px;
}
html body > .header #detailList .detail-large .container .triangle-box .hr {
  position: absolute;
  height: 2px;
  background: #d11477;
  width: 100%;
  bottom: 0;
}
html body > .main,
html body > .footer {
  background: #363058;
  font-size: 14px;
}
html body > .main > .container,
html body > .footer > .container {
  width: 1200px;
  margin: 0px auto 0 auto;
}
html body > .main > .container .footer_top,
html body > .footer > .container .footer_top {
  width: 708px;
  padding: 0 126px 0 156px;
  margin: 0 auto 0 auto;
  padding-top: 35px;
}
html body > .main > .container .footer_top .item,
html body > .footer > .container .footer_top .item {
  line-height: 36px;
  width: 25%;
}
html body > .main > .container .footer_top .item .item_title,
html body > .footer > .container .footer_top .item .item_title {
  font-size: 18px;
  color: #ffffff;
}
html body > .main > .container .division_box,
html body > .footer > .container .division_box {
  opacity: 0.14;
  width: 989px;
  margin: 35px auto;
  border-bottom: 1px solid #ffffff;
}
html body > .main > .container .copyright_box,
html body > .footer > .container .copyright_box {
  font-size: 12px;
  text-align: center;
  margin-bottom: 35px;
  color: #a697b1;
}
html body > .main > .container .copyright_box a,
html body > .footer > .container .copyright_box a {
  color: #ffffff;
}
html body > .footer {
  color: #a697b1;
}
.infor-box .banner {
  width: 100%;
  height: 680px;
  background: url(/static/img/img-new/appreciation_banner.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
}
.infor-box .main {
  background: #ececf0;
}
.infor-box .main .container {
  padding-top: 22px;
  margin: 0 auto 0 auto;
}
.infor-box .main .container li {
  margin-bottom: 22px;
  background: #fff;
  border-radius: 2px;
  border: 2px solid #ececf0;
}
.infor-box .main .container li .img_tip {
  width: 320px;
  height: 240px;
}
.infor-box .main .container li .img_tip img {
  width: 320px;
  height: 240px;
}
.infor-box .main .container li .info_container {
  width: 806px;
  padding: 0 35px 0 35px;
  height: 240px;
}
.infor-box .main .container li .info_container .info_top {
  font-size: 24px;
  font-weight: bold;
  margin-top: 45px;
  line-height: 24px;
  height: 24px;
}
.infor-box .main .container li .info_container .info_top .title_tip {
  height: 21px;
  line-height: 21px;
  padding: 0 5px;
  border-radius: 2px;
  background: #363058;
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin: 3px 0 0 10px;
  font-weight: normal;
}
.infor-box .main .container li .info_container .info_main {
  color: #888888;
  font-size: 16px;
  margin: 27px 0;
  line-height: 1.5;
}
.infor-box .main .container li .info_container .info_bottom {
  color: #b8b8b8;
  font-size: 14px;
  margin-right: 18px;
  right: 35px;
  bottom: 28px;
}
.infor-box .main .container li .info_container .info_bottom > div {
  margin-right: 18px;
}
.infor-box .main .container li .info_container .info_bottom > div > span:nth-child(1) {
  color: #b8b8b8;
}
.infor-box .main .container li .info_container .info_bottom > div > span:nth-child(2) {
  color: #333;
}
.infor-box .main .container li:hover {
  cursor: pointer;
  border: 2px solid #363058;
  -webkit-box-shadow: 2px 2px 10px #333;
  -moz-box-shadow: 2px 2px 10px #333;
  -o-box-shadow: 2px 2px 10px #333;
  box-shadow: 2px 2px 10px #333;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  behavior: url(ie-css3.htc);
  /*兼容ie，加上这句*/
}
#iframeId {
  display: block;
  height: 1900px;
  width: 100%;
}
.service-box .banner {
  width: 100%;
  height: 680px;
  background: url(/static/img/img-new/appreciation_service-banner.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
}
.service-box .main {
  background: #ececf0;
}
.service-box .main .container {
  width: 100%;
  margin: 0 auto 0 auto;
}
.service-box .main .container li {
  width: 100%;
  height: 775px;
}
.service-box .main .container li .img_li_box img {
  width: 100%;
  height: 775px;
}
.service-box .main .container li .article_box {
  width: 480px;
  height: 655px;
  padding: 60px;
  background: #222930;
}
.service-box .main .container li .article_box .article_title {
  font-size: 42px;
  line-height: 42px;
  color: #ffffff;
  opacity: 0.95;
}
.service-box .main .container li .article_box .article_main {
  font-size: 20px;
  color: #ffffff;
  line-height: 50px;
  opacity: 0.6;
  color: #fff;
  margin-top: 48px;
}
.service-box .main .container li:nth-child(1) {
  width: 100%;
  height: 775px;
}
.service-box .main .container li:nth-child(1) .article_box {
  left: 50%;
  bottom: 0px;
}
.service-box .main .container li:nth-child(2) {
  width: 100%;
  height: 775px;
}
.service-box .main .container li:nth-child(2) .article_box {
  right: 50%;
  bottom: 0px;
}
.service-box .main .container li:nth-child(3) {
  width: 100%;
  height: 775px;
}
.service-box .main .container li:nth-child(3) .article_box {
  left: 50%;
  bottom: 0px;
}
.appreciation-detail-box .banner {
  width: 100%;
  height: 680px;
  background: url(/static/img/img-new/appreciation_banner.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
}
.appreciation-detail-box .main {
  background: #ececf0;
  padding: 20px 0 30px 0;
}
.appreciation-detail-box .main .container {
  padding: 0px 150px 35px 150px;
  width: 900px;
  margin: 0 auto;
  min-height: 610px;
  background-color: #fff;
  color: #333;
}
.appreciation-detail-box .main .container .detail_title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 80px;
  margin: 0px auto 58px auto;
  text-align: center;
}
.appreciation-detail-box .main .container .detail_info {
  font-size: 14px;
  margin: 1px auto 13px auto;
  color: #b8b8b8;
}
.appreciation-detail-box .main .container .detail_info .resource_net,
.appreciation-detail-box .main .container .detail_info .see_num {
  color: #333;
  padding: 0 18px 0 8px;
}
.appreciation-detail-box .main .container .detail_info .time_show {
  color: #333;
  padding: 0 0px 0 8px;
}
.appreciation-detail-box .main .container .content_box {
  word-wrap: break-word !important;
  word-break: break-all !important;
  overflow: hidden !important;
  min-height: 500px;
}
.solution-box .banner {
  width: 100%;
  height: 680px;
  background: url(/static/img/img-new/solution_banner.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
}
.solution-box .main {
  background: #ececf0;
}
.solution-box .main .container {
  width: 100%;
  margin: 0 auto 0 auto;
}
.solution-box .main .container .introduce_box {
  width: 100%;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 70px;
  background: #c7c7da;
  height: 1047px;
}
.solution-box .main .container .introduce_box > div:nth-child(1) {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  line-height: 42px;
}
.solution-box .main .container .introduce_box > div:nth-child(2) {
  font-size: 22px;
  line-height: 48px;
  color: #888888;
  text-align: center;
  margin: 25px 0 0 0;
}
.solution-box .main .container .space_gray {
  background: #d8d7e2;
  height: 775px;
}
.solution-box .main .container .version_box {
  width: 100%;
  top: 267px;
}
.solution-box .main .container .version_box li {
  width: 1200px;
  height: 707px;
  margin: 0 auto;
}
.solution-box .main .container .version_box li .version_left {
  background: #fff;
  width: 440px;
  height: 707px;
}
.solution-box .main .container .version_box li .version_left .tip_img_box img {
  width: 439px;
  height: 232px;
}
.solution-box .main .container .version_box li .version_left .version_txt {
  padding: 21px 20px 0px 35px;
}
.solution-box .main .container .version_box li .version_left .version_txt > div:nth-child(1),
.solution-box .main .container .version_box li .version_left .version_txt > div:nth-child(3) {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 12px;
  font-weight: 500;
}
.solution-box .main .container .version_box li .version_left .version_txt > div:nth-child(2),
.solution-box .main .container .version_box li .version_left .version_txt > div:nth-child(4) {
  color: #888888;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
.solution-box .main .container .version_box li .version_left .case_img_box {
  width: 396px;
  height: 152px;
  margin: 0 auto 0px auto;
}
.solution-box .main .container .version_box li .version_left .case_img_box img {
  width: 396px;
  height: 152px;
}
.solution-box .main .container .version_box li .version_left .btn a {
  width: 370px;
  height: 46px;
  margin: 40px auto 0 auto;
  background: #423aa7;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 46px;
  display: block;
}
.solution-box .main .container .version_box li .version_right {
  width: 624px;
  height: 597px;
  background: #eeedf9;
  padding: 57px 67px 53px 69px;
}
.solution-box .main .container .version_box li .version_right .case_tip {
  font-size: 26px;
  font-weight: 500;
  color: #333333;
  line-height: 26px;
}
.solution-box .main .container .version_box li .version_right .company_info {
  margin-top: 30px;
  font-size: 16px;
  line-height: 40px;
}
.solution-box .main .container .version_box .standard_li {
  margin-bottom: 135px;
}
.solution-box .main .container .version_box .standard_li .logo_box {
  bottom: 53px;
  right: 67px;
}
.solution-box .main .container .version_box .standard_li .logo_box img {
  width: 298px;
  height: 35px;
  display: block;
}
.solution-box .main .container .version_box .dingzhi_li .version_left .btn a {
  background: #2f8bfe;
}
.solution-box .main .container .version_box .dingzhi_li .logo_box {
  bottom: 53px;
  right: 67px;
}
.solution-box .main .container .version_box .dingzhi_li .logo_box img {
  width: 207px;
  height: 72px;
  display: block;
}
.solution-box .main .container .otherVersion_box {
  color: #888888;
}
.solution-box .main .container .otherVersion_box li {
  width: 100%;
  height: 750px;
  background: url(/static/img/img-new/artificial_services.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.solution-box .main .container .otherVersion_box li .article_box {
  background: #222930;
}
.solution-box .main .container .otherVersion_box li .article_box .article_title {
  font-size: 36px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #ffffff;
  line-height: 36px;
}
.solution-box .main .container .otherVersion_box li .article_box .article_title_tip {
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #888888;
  line-height: 30px;
  margin-top: 12px;
}
.solution-box .main .container .otherVersion_box li .article_box .article_main {
  margin-top: 30px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #888888;
  line-height: 40px;
}
.solution-box .main .container .otherVersion_box li .article_box .btn a {
  width: 370px;
  height: 46px;
  background: rgba(14, 22, 32, 0);
  border: 1px solid #ffffff;
  font-weight: 400;
  color: #ffffff;
  line-height: 46px;
  font-size: 18px;
  text-align: center;
  margin-top: 100px;
  display: block;
}
.solution-box .main .container .otherVersion_box li:nth-child(1) .article_box {
  width: 50%;
  height: 750px;
  left: 0px;
  bottom: 0px;
}
.solution-box .main .container .otherVersion_box li:nth-child(1) .article_box .article_box_container {
  margin: 110px 140px 125px 350px;
}
.solution-box .main .container .otherVersion_box li:nth-child(2) {
  background: url(/static/img/img-new/settlement_plan.png) no-repeat center center;
  width: 100%;
  height: 750px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.solution-box .main .container .otherVersion_box li:nth-child(2) .article_box {
  width: 50%;
  height: 750px;
  right: 0px;
  bottom: 0px;
}
.solution-box .main .container .otherVersion_box li:nth-child(2) .article_box .article_box_container {
  margin: 110px 90px 125px 100px;
}
.firmIntroduce-box .banner {
  width: 100%;
  height: 680px;
  background: url(/static/img/img-new/introduce_banner.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
}
.firmIntroduce-box .main {
  background: #fff;
}
.firmIntroduce-box .main .bar_box {
  background: #ececf0;
  height: 569px;
  padding: 72px 0 0 0;
}
.firmIntroduce-box .main .bar_box .bar_main {
  width: 1200px;
  margin: 0 auto;
}
.firmIntroduce-box .main .bar_box .bar_main .bar_item {
  text-align: center;
  float: left;
  width: 362px;
  height: 499px;
  margin-left: 57px;
  background: #fff;
}
.firmIntroduce-box .main .bar_box .bar_main .bar_item .bar_icon {
  width: 122px;
  height: 114px;
  margin: 68px auto 63px auto;
}
.firmIntroduce-box .main .bar_box .bar_main .bar_item .bar_icon img {
  display: block;
  width: 122px;
  height: 114px;
}
.firmIntroduce-box .main .bar_box .bar_main .bar_item .bar_title {
  font-size: 26px;
  font-weight: 600;
  color: #333333;
  line-height: 26px;
}
.firmIntroduce-box .main .bar_box .bar_main .bar_item .bar_txt {
  margin-top: 36px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 30px;
  margin: 36px 48px 0 36px;
}
.firmIntroduce-box .main .bar_box .bar_main .bar_item:hover {
  -ms-transform: scale(1.01, 1.21);
  /* IE 9 */
  -webkit-transform: scale(1.21, 1.21);
  /* Safari */
  transform: scale(1.02, 1.02);
  /* 标准语法 */
  -webkit-box-shadow: #777474 0px 0px 10px;
  -moz-box-shadow: #777474 0px 0px 10px;
  -o-box-shadow: #777474 0px 0px 10px;
  box-shadow: #777474 0px 0px 10px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  behavior: url(ie-css3.htc);
  /*兼容ie，加上这句*/
}
.firmIntroduce-box .main .bar_box .bar_main .found_date {
  margin-left: 0;
}
.firmIntroduce-box .main .bar_box .bar_main .found_date .bar_icon {
  width: 93px;
  height: 93px;
  margin-top: 79px;
  margin-bottom: 72px;
}
.firmIntroduce-box .main .bar_box .bar_main .found_date .bar_icon img {
  display: block;
  width: 93px;
  height: 93px;
}
.firmIntroduce-box .main .png_container {
  background: #fff;
  width: 100%;
  height: 916px;
}
.firmIntroduce-box .main .png_container .png_title {
  font-size: 42px;
  font-weight: 500;
  color: #333333;
  text-align: center;
  padding: 60px 0 42px 0;
}
.firmIntroduce-box .main .png_container .png_box {
  width: 1188px;
  height: 660px;
  margin: 0 auto;
  position: relative;
}
.firmIntroduce-box .main .png_container .png_box img {
  width: 1188px;
  height: 660px;
  display: block;
}
.firmIntroduce-box .main .png_container1 {
  background: #f6f6f8;
}
.firmIntroduce-box .main .png_container3 {
  background: #f7f7f9;
}
.firmIntroduce-box .main .map_box {
  background: #fff;
  text-align: center;
  height: 995px;
}
.firmIntroduce-box .main .map_box .map_title {
  font-size: 42px;
  font-weight: 500;
  color: #333333;
  line-height: 42px;
}
.firmIntroduce-box .main .map_box .map_main #mapBox {
  width: 1180px;
  height: 820px;
  margin: auto;
}
.firmIntroduce-box .main .case_ok_box {
  width: 100%;
  text-align: center;
  background: #f7f7f9;
  height: 824px;
}
.firmIntroduce-box .main .case_ok_box .case_title {
  font-size: 42px;
  font-weight: 500;
  color: #333333;
  line-height: 42px;
  padding: 60px 0 30px 0;
}
.firmIntroduce-box .main .case_ok_box .case_txt {
  font-size: 22px;
  font-weight: 300;
  color: #888888;
  line-height: 22px;
  padding-bottom: 28px;
}
.firmIntroduce-box .main .case_ok_box .case_main {
  width: 1200px;
  margin: 0 auto;
}
.firmIntroduce-box .main .case_ok_box .case_main .case_left {
  width: 710px;
  height: 562px;
  background: #fff;
  text-align-last: left;
}
.firmIntroduce-box .main .case_ok_box .case_main .case_left .logo_con {
  margin: 10px 0 0 38px;
}
.firmIntroduce-box .main .case_ok_box .case_main .case_left .logo_con img {
  width: 216px;
  height: 77px;
  display: block;
}
.firmIntroduce-box .main .case_ok_box .case_main .case_left .case_txt {
  margin: 18px 65px 0 72px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
}
.firmIntroduce-box .main .case_ok_box .case_main .case_right img {
  width: 490px;
  height: 562px;
  display: block;
}
.index-box .banner {
  width: 100%;
  height: 750px;
}
.index-box .banner .swiper-container {
  width: 100%;
  height: 750px;
}
.index-box .banner .swiper-container .swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  display: inline-block;
  background: #fff;
  border-radius: 0;
  opacity: 0.2;
}
.index-box .banner .swiper-container .swiper-pagination-bullet-active {
  width: 25px;
  height: 5px;
  display: inline-block;
  opacity: 1;
  background: #007aff;
}
.index-box .banner .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.index-box .banner .swiper-container .swiper-slide img {
  display: inline-block;
  width: 100%;
  height: 750px;
}
.index-box .main {
  background: #ececf0;
}
.index-box .main .container {
  width: 100%;
  margin: 0 auto 0 auto;
}
.index-box .main .container .introduce_box {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 70px;
  background: #d8d7e2;
  height: 1220px;
}
.index-box .main .container .introduce_box > div:nth-child(1) {
  text-align: center;
  font-size: 38px;
  color: #3e3a6d;
  font-weight: 500;
  line-height: 48px;
}
.index-box .main .container .introduce_box > div:nth-child(2) {
  font-size: 24px;
  color: #989bb7;
  text-align: center;
  margin: 25px 0 0 0;
  line-height: 48px;
}
.index-box .main .container .icon_box {
  background: #c7c7da;
  height: 278px;
  padding-top: 168px;
}
.index-box .main .container .icon_box .icon_box_main {
  width: 1120px;
  padding: 0 34px;
  margin: 0 auto;
}
.index-box .main .container .icon_box .icon_box_main .icon_item {
  width: 304px;
  text-align: center;
}
.index-box .main .container .icon_box .icon_box_main .icon_item .img_box {
  width: 72px;
  height: 72px;
  margin: 0 auto;
}
.index-box .main .container .icon_box .icon_box_main .icon_item .img_box img {
  display: block;
  width: 72px;
  height: 72px;
}
.index-box .main .container .icon_box .icon_box_main .icon_item .icon_tip {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
  line-height: 48px;
}
.index-box .main .container .icon_box .icon_box_main .icon_item .icon_slogan {
  font-size: 18px;
  font-weight: 300;
  color: #808080;
  line-height: 48px;
}
.index-box .main .container .icon_box .icon_box_main .exhibition_item {
  margin-left: 136px;
}
.index-box .main .container .icon_box .icon_box_main .exhibition_item .img_box img {
  display: block;
  width: 91px;
  height: 72px;
}
.index-box .main .container .area_box {
  width: 100%;
  top: 240px;
}
.index-box .main .container .area_box .item_area {
  margin: 0 auto;
}
.index-box .main .container .area_box .bar_box {
  margin-bottom: 65px;
  width: 1205px;
  height: 502px;
}
.index-box .main .container .area_box .bar_box li {
  margin-right: 52px;
}
.index-box .main .container .area_box .bar_box li img {
  width: 367px;
  height: 502px;
  display: block;
}
.index-box .main .container .area_box .bar_box li .bar_tip {
  width: 100%;
  height: 28px;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(31, 5, 96, 0.7);
  line-height: 28px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.index-box .main .container .area_box .bar_box .last_li {
  margin-right: 0;
}
.index-box .main .container .area_box .bar_box li:hover {
  -webkit-box-shadow: #777474 0px 0px 10px;
  -moz-box-shadow: #777474 0px 0px 10px;
  -o-box-shadow: #777474 0px 0px 10px;
  box-shadow: #777474 0px 0px 10px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  behavior: url(ie-css3.htc);
  /*兼容ie，加上这句*/
}
.index-box .main .container .area_box .video_box {
  width: 1188px;
  height: 660px;
  margin: 0 auto;
}
.index-box .main .container .area_box .video_box .mask {
  width: 1188px;
  height: 660px;
  background: #333;
  opacity: 0.6;
  left: 0;
  bottom: 0;
  z-index: 33;
}
.index-box .main .container .area_box .video_box .play_btn {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  background: url(/static/img/img-new/introduce_play.png) no-repeat no-repeat 0 0;
  background-size: 60px;
  z-index: 34;
}
.index-box .main .container .area_box .video_box .play_btn img {
  width: 60px;
  height: 60px;
  display: block;
}
.index-box .main .container .area_box .video_box .pause_btn {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  background: url(/static/img/img-new/introduce_pause.png) no-repeat no-repeat 0 0;
  background-size: 60px;
  z-index: 34;
}
.index-box .main .container .area_box .video_box .play_ctr:hover {
  cursor: pointer;
}
.index-box .main .container .area_box .video_box .gray_back {
  background: #333;
  width: 1188px;
  height: 660px;
}
.index-box .main .container .tab_box {
  width: 100%;
  height: 750px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: url(/static/img/img-new/bottom_bg_img.png) no-repeat no-repeat 0 0;
}
.index-box .main .container .tab_box .tab_icon_item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 25%;
  height: 360px;
  margin-top: 10px;
  padding-left: 10px;
}
.index-box .main .container .tab_box .tab_icon_item .icon_item_container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 360px;
  background: #333333;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  line-height: 48px;
}
.index-box .main .container .tab_box .tab_icon_item:hover .icon_item_container {
  background: rgba(51, 51, 51, 0.3);
  -webkit-box-shadow: #777474 0px 0px 10px;
  -moz-box-shadow: #777474 0px 0px 10px;
  -o-box-shadow: #777474 0px 0px 10px;
  box-shadow: #777474 0px 0px 10px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  behavior: url(ie-css3.htc);
  /*兼容ie，加上这句*/
}
.index-box .main .container .tab_box .tab_icon_item:hover .icon_item_container .icon_txt {
  color: rgba(255, 255, 255, 0.6);
}
.index-box .main .container .tab_box .icon_tip {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  line-height: 48px;
  text-align: center;
}
.index-box .main .container .tab_box .icon_txt {
  font-size: 22px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.2);
  line-height: 34px;
  text-align: center;
}
.index-box .main .container .tab_box .tab_icon_property .icon_item_container {
  padding: 65px 30px 0 30px;
}
.index-box .main .container .tab_box .tab_icon_property .icon_item_container .icon_img_con {
  width: 121px;
  height: 110px;
  margin: 0 auto;
}
.index-box .main .container .tab_box .tab_icon_property .icon_item_container .icon_img_con img {
  width: 121px;
  height: 110px;
  display: block;
}
.index-box .main .container .tab_box .tab_icon_money .icon_item_container {
  padding: 55px 30px 0 30px;
}
.index-box .main .container .tab_box .tab_icon_money .icon_item_container .icon_img_con {
  width: 142px;
  height: 119px;
  margin: 0 auto;
}
.index-box .main .container .tab_box .tab_icon_money .icon_item_container .icon_img_con img {
  width: 142px;
  height: 119px;
  display: block;
}
.index-box .main .container .tab_box .tab_icon_product .icon_item_container {
  padding: 64px 30px 0 30px;
}
.index-box .main .container .tab_box .tab_icon_product .icon_item_container .icon_img_con {
  width: 112px;
  height: 111px;
  margin: 0 auto;
}
.index-box .main .container .tab_box .tab_icon_product .icon_item_container .icon_img_con img {
  width: 112px;
  height: 111px;
  display: block;
}
.index-box .main .container .tab_box .tab_icon_resources .icon_item_container {
  padding: 60px 30px 0 30px;
}
.index-box .main .container .tab_box .tab_icon_resources .icon_item_container .icon_img_con {
  width: 118px;
  height: 120px;
  margin: 0 auto;
}
.index-box .main .container .tab_box .tab_icon_resources .icon_item_container .icon_img_con img {
  width: 118px;
  height: 120px;
  display: block;
}
.index-box .main .container .tab_box .tab_icon_service .icon_item_container {
  padding: 65px 30px 0 30px;
}
.index-box .main .container .tab_box .tab_icon_service .icon_item_container .icon_img_con {
  width: 119px;
  height: 113px;
  margin: 0 auto;
}
.index-box .main .container .tab_box .tab_icon_service .icon_item_container .icon_img_con img {
  width: 119px;
  height: 113px;
  display: block;
}
.index-box .main .container .tab_box .tab_icon_analysis .icon_item_container {
  padding: 65px 30px 0 30px;
}
.index-box .main .container .tab_box .tab_icon_analysis .icon_item_container .icon_img_con {
  width: 122px;
  height: 114px;
  margin: 0 auto;
}
.index-box .main .container .tab_box .tab_icon_analysis .icon_item_container .icon_img_con img {
  width: 122px;
  height: 114px;
  display: block;
}
.index-box .main .container .tab_box .tab_icon_first {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  height: 740px;
}
.index-box .main .container .tab_box .tab_icon_first .icon_item_container {
  background: #333;
  height: 730px;
  padding: 197px 40px 40px 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.index-box .main .container .tab_box .tab_icon_first .icon_item_container .icon_img_con {
  width: 141px;
  height: 190px;
  margin: 0 auto;
}
.index-box .main .container .tab_box .tab_icon_first .icon_item_container .icon_img_con img {
  width: 141px;
  height: 190px;
  display: block;
}
.index-box .main .container .tab_box .boder_bb {
  padding-bottom: 10px;
}
.index-box .main .container .tab_box .boder_r {
  padding-right: 10px;
}
.index-box .main .container .achieve_box {
  padding-bottom: 62px;
  color: #666;
}
.index-box .main .container .achieve_box .achieve_tip {
  padding-top: 110px;
  font-size: 38px;
  font-weight: 500;
  color: #3e3a6d;
  line-height: 48px;
  text-align: center;
}
.index-box .main .container .achieve_box .achieve_txt {
  font-size: 22px;
  font-weight: 300;
  color: #878787;
  line-height: 22px;
  padding: 24px 0;
  text-align: center;
}
.index-box .main .container .achieve_box .achieve_main .achieve_item {
  position: relative;
  width: 940px;
  margin: 0 auto;
  font-size: 20px;
  height: 92px;
  line-height: 92px;
  text-align: center;
}
.index-box .main .container .achieve_box .achieve_main .achieve_item .strong {
  font-size: 26px;
}
.index-box .main .container .achieve_box .achieve_main .achieve_item .bubble_box {
  width: 232px;
  height: 84px;
  position: absolute;
}
.index-box .main .container .achieve_box .achieve_main .achieve_item .bubble_box img {
  width: 232px;
  height: 84px;
  display: block;
}
.index-box .main .container .achieve_box .achieve_main .achieve_item_odd .bubble_box {
  width: 232px;
  height: 84px;
  position: absolute;
  left: -95px;
  top: -15px;
}
.index-box .main .container .achieve_box .achieve_main .achieve_item_odd .bubble_box img {
  width: 232px;
  height: 84px;
  display: block;
}
.index-box .main .container .achieve_box .achieve_main .achieve_item_even .bubble_box {
  width: 232px;
  height: 84px;
  position: absolute;
  right: -160px;
  top: -15px;
}
.index-box .main .container .achieve_box .achieve_main .achieve_item_even .bubble_box img {
  width: 232px;
  height: 84px;
  display: block;
}
.index-box .main .container .brand_box {
  background: #fff;
  padding: 71px 0;
}
.index-box .main .container .brand_box .brand_con {
  width: 1400px;
  height: 361px;
  margin: 71px auto 71px auto;
}
.index-box .main .container .brand_box .brand_con img {
  width: 1400px;
  height: 361px;
  display: block;
}
.concat-box .banner {
  width: 100%;
  height: 680px;
  background: url(/static/img/img-new/concat_banner.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
}
.concat-box .main {
  background: #fff;
  padding-top: 68px;
}
.concat-box .main .container {
  width: 1200px;
  margin: 0 auto 0 auto;
}
.concat-box .main .container .contactWay_box {
  top: -98px;
  left: 0px;
  width: 1200px;
  height: 58px;
  line-height: 58px;
  font-size: 16px;
  font-weight: 600;
  background: #ffffff;
  box-shadow: 0px 5px 29px 0px rgba(24, 113, 233, 0.08);
  border-radius: 6px;
}
.concat-box .main .container .contactWay_box > div {
  width: 282px;
}
.concat-box .main .container .contactWay_box .chuanzhen {
  text-align: center;
}
.concat-box .main .container .contactWay_box .quanguo {
  margin-left: 179px;
}
.concat-box .main .container .map_box {
  width: 1200px;
  height: 532px;
}
.concat-box .main .container .map_box .concat_map img {
  width: 1200px;
  height: 532px;
  display: block;
}
.concat-box .main .container .map_box .map_anchor {
  width: 21px;
  height: 33px;
  top: 296px;
  left: 581px;
}
.concat-box .main .container .map_box .map_anchor img {
  width: 21px;
  height: 33px;
  display: block;
}
.concat-box .main .container .map_box .map_bubble {
  width: 317px;
  height: 73px;
  padding: 20px 0 0 18px;
  top: 201px;
  left: 427px;
  background: url(/static/img/img-new/map_bubble.png) no-repeat no-repeat 0 0;
  background-size: 335px 93px;
  background-position: 0px 0px;
}
.concat-box .main .container .map_box .map_bubble .bubble_title {
  font-size: 30px;
  line-height: 30px;
  color: #fff;
}
.concat-box .main .container .map_box .map_bubble .bubble_txt {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}
.concat-box .main .container .map_box .map_bubble img {
  width: 335px;
  height: 93px;
  display: block;
}
.concat-box .main .container .filiale_box {
  width: 100%;
  margin: 40px auto 0px auto;
  padding-top: 75px;
  padding-bottom: 70px;
}
.concat-box .main .container .filiale_box > li {
  float: left;
  width: 518px;
  height: 149px;
  padding: 22px 0 27px 40px;
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 5px 29px 0px rgba(24, 113, 233, 0.05);
}
.concat-box .main .container .filiale_box > li > div {
  font-size: 16px;
  color: #666666;
  line-height: 50px;
}
.concat-box .main .container .filiale_box > li > .li_title {
  font-size: 30px;
  color: #333;
  font-weight: 600;
}
.concat-box .main .container .filiale_box .li_odd {
  margin-right: 40px;
}
.login-box .top_mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 41;
}
.login-box .top_mask .mask_box {
  background: #ffffff;
  width: 360px;
  height: 180px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 8px;
  font-size: 16px;
  color: #333333;
  text-align: center;
  line-height: 180px;
}
.login-box .banner {
  width: 100%;
  height: 680px;
  background: url(/static/img/img-new/login_banner.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 750px;
}
.login-box .main {
  font-size: 16px;
  top: 100px;
  right: 350px;
  width: 303px;
  background: #fff;
  padding: 21px 23px 0 24px;
  border-radius: 2px;
}
.login-box .main .login_title {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  line-height: 16px;
}
.login-box .main .login_info {
  font-size: 12px;
  font-weight: 300;
  color: #999999;
  line-height: 18px;
}
.login-box .main .login_info .warn_con {
  width: 15px;
  margin-top: 11px;
}
.login-box .main .login_info .warn_con img {
  width: 11px;
  height: 11px;
  display: block;
}
.login-box .main .login_info .warn_txt {
  padding: 8px 0 12px 0;
  width: 279px;
}
.login-box .main .ul_con {
  color: #999999;
}
.login-box .main .ul_con li input {
  width: 254px;
  height: 40px;
  line-height: 42px;
  padding-left: 47px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.login-box .main .ul_con li input::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.login-box .main .ul_con li input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.login-box .main .ul_con li input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.login-box .main .ul_con li input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.login-box .main .ul_con li img {
  width: 14px;
  height: 14px;
  display: block;
}
.login-box .main .ul_con li .input_warn {
  font-size: 12px;
  font-weight: 400;
  color: #f77f7f;
  line-height: 22px;
  height: 26px;
  text-align: right;
  width: 100%;
}
.login-box .main .ul_con .warn_validate_color {
  border-color: #f77f7f !important;
}
.login-box .main .ul_con .firmname .firmname_icon {
  top: 14px;
  left: 15px;
}
.login-box .main .ul_con .firmname .delete_icon {
  top: 13px;
  right: 13px;
}
.login-box .main .ul_con .firmname .delete_icon:hover {
  cursor: pointer;
}
.login-box .main .ul_con .username .username_icon {
  top: 14px;
  left: 15px;
}
.login-box .main .ul_con .username .delete_icon {
  top: 13px;
  right: 13px;
}
.login-box .main .ul_con .email .email_icon {
  top: 16px;
  left: 15px;
}
.login-box .main .ul_con .email .email_icon img {
  width: 14px;
  height: 12px;
}
.login-box .main .ul_con .cell .cell_icon {
  top: 15px;
  left: 15px;
}
.login-box .main .ul_con .cell .cell_icon img {
  width: 14px;
  height: 15px;
}
.login-box .main .ul_con .cell .delete_icon {
  top: 13px;
  right: 13px;
}
.login-box .main .ul_con .cell .delete_icon:hover {
  cursor: pointer;
}
.login-box .main .ul_con .code input,
.login-box .main .ul_con .imgCode input {
  width: 141px;
}
.login-box .main .ul_con .code .code_ctr,
.login-box .main .ul_con .imgCode .code_ctr {
  top: 12px;
  left: 15px;
}
.login-box .main .ul_con .code .code_ctr img,
.login-box .main .ul_con .imgCode .code_ctr img {
  width: 14px;
  height: 19px;
}
.login-box .main .ul_con .code .code_receive,
.login-box .main .ul_con .imgCode .code_receive {
  margin-left: 10px;
  width: 101px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #3e4eb2;
  line-height: 40px;
}
.login-box .main .ul_con .code .code_receive:hover,
.login-box .main .ul_con .imgCode .code_receive:hover {
  cursor: pointer;
}
.login-box .main .ul_con .code .code_img_box,
.login-box .main .ul_con .imgCode .code_img_box {
  margin-left: 10px;
}
.login-box .main .ul_con .code .code_img_box img,
.login-box .main .ul_con .imgCode .code_img_box img {
  width: 103px;
  height: 42px;
  display: block;
}
.login-box .main .ul_con .code .code_img_box:hover,
.login-box .main .ul_con .imgCode .code_img_box:hover {
  cursor: pointer;
}
.login-box .main .ul_con .main_btn {
  width: 303px;
  height: 43px;
  background: #999999;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 43px;
}
.login-box .main .ul_con .main_btn:hover {
  cursor: pointer;
}
.login-box .main .ul_con .btn_active {
  background: #3e4eb2;
}
.login-box .main .main_tip {
  font-size: 12px;
  font-weight: 400;
  color: #5b5b5b;
  line-height: 30px;
  padding-bottom: 20px;
}
.login-box .main .main_tip .blue_login a {
  color: #3e4eb2;
}
.w_13p {
  width: 13%;
}
.m_l_5p {
  margin-left: 5%;
}
.w_10p {
  width: 16%;
}
.con {
  border-top: 1px solid #30333f;
  position: relative;
  float: left;
}
.w_19p {
  width: 19%;
}
