<div class="float-left second-side-nav-box">
    <div class="second-side-nav">
        <!--<dl>-->
            <!--<dt class="position">-->
                <!--<a href="/tongji/analysis_save?tag=analysis_default" class="position ss-link ss-every-model" data-tag="analysis_default"> <span-->
                        <!--class="position-ab tip_img save_img_first"></span> 节省分析-->
                <!--</a>-->
            <!--</dt>-->
        <!--</dl>-->
        <!--<dl>-->
            <!--<dt class="position">-->
                <!--<a href="javascript:void(0);" class="ss-every-model"> <span-->
                        <!--class="position-ab tip_img loss_img_first"></span> 损耗分析 <span-->
                        <!--class="position-ab tip_img travel_img_second s-jt-bg"></span>-->
                <!--</a>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--&lt;!&ndash;<a href="/tongji/analysis_retreating_reason" class=""> 差旅超标损耗 </a>&ndash;&gt;-->
                <!--<a href="/tongji/analysis_overproof?tag=analysis_overproof" data-tag="analysis_overproof" class=""> 差旅超标损耗 </a>-->
            <!--</dd>-->
            <!--<dd>-->
                <!--<a href="/tongji/analysis_retreating?tag=analysis_retreating" data-tag="analysis_retreating"> 退改损耗 </a>-->
            <!--</dd>-->
        <!--</dl>-->
        <dl>
            <dt class="position">
                <a href="javascript:void(0);" class="ss-every-model">
                    <span class="position-ab tip_img travel_img_first "></span>
                    出行分析
                    <span class="position-ab tip_img travel_img_second s-jt-bg"></span>
                </a>
            </dt>
            <dd>
                <a href="/tongji/destination/air?tag=analysis_destination" data-tag="analysis_destination" class=""> 目的地分析 </a>
            </dd>
            <dd>
                <a href="/tongji/mileage?tag=analysis_mileage" data-tag="analysis_mileage"> 里程分析 </a>
            </dd>
            <dd>
                <a href="/tongji/durationtime?tag=analysis_duration_time" data-tag="analysis_duration_time"> 次数/时长分析 </a>
            </dd>
            <!--<dd>-->
                <!--<a href="/tongji/analysis_hothotel?tag=analysis_hothotel" data-tag="analysis_hothotel"> 热门酒店 </a>-->
            <!--</dd>-->
            <dd>
                <a href="/tongji/aircompany?tag=analysis_aircompany" data-tag="analysis_aircompany"> 航空公司分析 </a>
            </dd>
        </dl>
        <dl>
            <dt class="position">
                <a href="javascript:void(0);" class="ss-every-model"> <span
                        class="position-ab tip_img time_img_first"></span> 时刻分析 <span
                        class="position-ab tip_img time_img_second s-jt-bg"></span>
                </a>
            </dt>
            <dd>
                <a href="/tongji/flighttime?tag=analysis_airtime" data-tag="analysis_airtime" class=""> 航班时刻 </a>
            </dd>
            <dd>
                <a href="/tongji/traintime?tag=analysis_traintime" data-tag="analysis_traintime"> 火车时刻 </a>
            </dd>
        </dl>
    </div>
</div>