<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>首页</title>
		#parse("/common/styleSheetCommon.html")
		<link rel="stylesheet" type="text/css" href="/static/css/common/city-plugin.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/server/demand.css"/>
	</head>
	<body class="background-f0f4ff clear">
		#parse("/common/head.html")
		<div class="main-content main-body-content position index-content-policy demand-c"  data-value="visa">
			<div class="main-model position clear">
				 <form action="/visa/create" method="post" id="visa">
					<div class="iframe-model">
						<div class="title-type clear">
							<span>签证类型：</span>
							#foreach($type in $!findzdMsg)
							<div class="label label-radio #if($!{vCount} == 1)label-select-radio#else#end label-margin-right clear">
								<span class="show_choice"></span>
								<input type="radio" name="type" checked value="$!type.value">	
								<span>$!type.name</span>	
							</div>
							#end
						</div>
						<div class="clear">
							<div class="float-left position e-input">
								<div>国家</div>
								<b style="color:red;" class="position-ab">*</b>
								<input type="text" name="countryName" value="" datatype="*" nullmsg="请输入国家" placeholder="请输入国家" class="input">
							</div>
							<div class="float-left position e-input">
								<div>出发日期</div>
								<b style="color:red;" class="position-ab">*</b>
								<input type="text" name="setoutTime" datatype="*" readonly value="" id="beginDate" class="input" nullmsg="请输入出发日期" placeholder="请输入出发日期" onfocus="WdatePicker({doubleCalendar:true,minDate:'%y-%M-%d',isShowClear:false,isShowToday:false,isShowOk:false,readOnly:true})" />
							</div>
						</div>
						<div class="clear margin-bottom-10">
							<div class="float-left position e-input">
								<div>联系人</div>
								<b style="color:red;" class="position-ab">*</b>
								<input type="text" name="linkMan" value=""  datatype="*"  nullmsg="请输入联系人姓名" placeholder="请输入联系人姓名" class="input">
							</div>
							<div class="float-left position e-input e-margin-cancle">
								<div>联系电话</div>
								<b style="color:red;" class="position-ab">*</b>
								<input type="text" name="mobile" value=""  datatype="/^(0|86|17951)?(13[0-9]|15[012356789]|16[6]|17[03678]|18[0-9]|14[5678]|19[89])[0-9]{8}$/"  nullmsg="请输入联系电话" placeholder="请输入联系电话" class="input">
							</div>
						</div>
						<div class="clear position textarea-c">
							<div class="textarea-title">需求描述</div>
							<textarea name="remark" rows="3" cols="160" value="" maxlength="200" placeholder="不能超过200个字符" maxlength="200" style="width: 1130px;height:100px;padding: 5px 10px;border: 2px solid #e2ecff;resize:none;"></textarea>
						</div>
						<div class="clear text-align btn-group">
							<input type="hidden" data-istype="$!findzdMsg" class="findzdMsg_hidden">
							#if($!findzdMsg != 1)
							<button type="submit" class="btn btn-default btn-big radius validform-submit">提交需求</button>
							#end
							<!-- <button type="button" class="btn btn-hollow btn-big radius checkOrder">查看订单</button> -->
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- 主体 end -->
		#parse("/common/foot.html")
		<script type="text/javascript" src="/static/js/demand/common-demand.js"></script>
		<script type="text/javascript" src="/static/js/demand/visa-demand.js"></script>
	</body>
</html>
