.color-666{color: #666;}
.color-999{color: #999;}
.color-purple{color: rgb(209, 7, 115);}
.font-600{font-weight: 600;}
.hotel-bg{background: url(../../../static/img/hotel/hotel-bg.png) no-repeat;}
.xieyi-flag {
    display: inline-block;
    margin-left: 30px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #d10773;
    border-radius: 2px;
    color: #d10773;
    cursor: default;
    font-size: 12px;
}
/* 关键字 */
.search-list{position: fixed;width: 308px;padding: 5px;background: #fff;border: 1px solid #eee;
    box-shadow: rgb(97, 78, 194) 1px 1px 5px;z-index: 99;}
.search-list li{width: 100%;height: 28px;line-height: normal;padding: 5px;font-size: 12px;cursor: default;}
.search-list li:hover{background: rgba(97, 78, 194, 0.08);}
.iframe-model .hotel-query-model{margin-left:37px;width:782px;padding-top:23px;}