<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>机票-填写订单</title>
#parse("/common/styleSheetCommon.html")
<link rel="stylesheet" type="text/css" href="/static/css/air/air-book.css" />
</head>
<body class="background-6461e2 clear">

	#parse("/common/head.html")
	<input type="hidden" id="pre" value="$!{pre}">
	## $flag 区分
		## 机票模块airOrder || 火车票模块order
	#set($flag = 'airOrder')
	<input type="hidden" class="fanxian" value="false">
	<!--成本中心和项目中心的判断标志-->
	<input type="hidden"  class="costcenter_hidden" value="$!costcenter"><!--成本中心-->
	<input type="hidden"  class="costcenterinput_hidden" value="$!costcenterinput"><!--成本中心是否可以手动输入-->
	
	<input type="hidden"  class="projectinfo_hidden" value="$!projectinfo"><!--项目中心-->
	<input type="hidden"  class="projectinfoinput_hidden" value="$!projectinfoinput"><!--项目中心是否可以手动输入-->
	<!--项目中心改为项目编号标志-->
	<input type="hidden" class="isHuiChuan" >
	<!--当前登录人是否有添加员工的权限   1有添加员工权限 0无添加员工权限-->
	<input type="hidden" class="addempflage">
	<!--BKJT判断标志-->
	<input type="hidden" class="getShowname">
<!--拿到临时部门的id-->
	<input type="hidden" class="fanxian-linshi" value="">
	<input type="hidden" value="$!{isLow}" id="is_low_flight">
	<div class="main-content margin-top-20 margin-bottom-10">
		<div class="bind-tips clear" style="margin-bottom: 5px">
			<span class="flag-text">温馨提示：请务必保证证件姓名和证件号码与本人证件信息一致，且旅行结束日期最好比证件有效期早三个月以上。如信息有误或减少，请联系您的差旅负责人更新信息</span>
		</div>
	</div>
	<div class="main-content clear air-book-s" id="model-flag" data-modelflag="${flag}">
		<input type="hidden" value="" class="cid">
		<input type="hidden" value="$!model.airOrder.approveid" class="approveid">
		<form action="/air/checkOrder" method="POST" id="createForm">
			<input type="hidden" value="" name="approvename">
			<div class="float-left background-fff book-model">
				<div class="person-model" data-editctr="1">
					<div class="p-m-title font-size-18 clear">
						<span class="p-m-t float-left">乘机人</span>
						<span class="font-size-12 float-right choice-cjr cursor globalColor position" data-limit="9" data-model="air">
							<span class="icon-img position-ab"></span>
							选择乘机人
						</span>
					</div>
					#parse("/common/order-book-passengers.html")
					#if($!baoxian!="")

					<div class="e-p-bx font-size-12 clear hide">
						<h3 class="float-left position insurance_size " >选择保险:</h3>
						#foreach($bx in $!baoxian)
						<span class="e-bx-parent float-left position">
							<!--<span class="icon-img bx-detail-enter position-ab"></span>-->
							<div class="label label-checkbox label-margin-right float-left" >
								<span  class="show_choice"></span>
								 <span class="e-p-name">
								 	<span class="e-p-xianClass" >$!bx.name</span>
								 	¥$!bx.salePrice份/航段
								 </span>
								 <input type="checkbox" name="" value="$!bx.id" data-price="$!bx.salePrice">
							</div>
						</span>
						#end
						<input type="hidden" class="bxCodeStr" name="baoxian" value="$!model.baoxian">
					</div>
					#end
				</div>
				<div class="peisongAddress-c" style="border-bottom: 1px dashed #e5dfff">
					<div class="address_detail">
						<div class="clear font-size-12 book-peisong padding-bottom-14">
							<div class="float-left input-c position">
								<span class="float-left">配送地址：</span> <input type="text" name="airOrder.peisongaddr" autocomplete="off" value="$!model.airOrder.peisongaddr" class="input input-addr volidate-input"  datatype="s" nullmsg="请选择配送地址" placeholder="请输入配送地址">
								<b class="position-ab danger-p red">*</b>
							</div>
						</div>
						<div class="clear font-size-12 book-relations">
							<div class="float-left input-150 input-c position">
								<span class="float-left">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span> <input style="border: 0" type="text" name="peisongName" value="$!peisongName" readonly="readonly" class="input addr_name" placeholder="">
							</div>
							<div class="float-left input-150 input-c position">
								<span class="float-left">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</span> <input style="border: 0" type="text" name="peisongphone" value="$!peisongphone" readonly="readonly" class="input addr_phone" placeholder="">
							</div>
						</div>
					</div>
				</div>
				<div class="chailv-mation border-top-dashed chailv-mation-remove">
					<div style="margin-top: 20px"class="p-m-title">
						<span class="p-m-t">差旅信息</span>
					</div>
					<div class="cl-m-content font-size-12">
						<div class="chailv-cs clear animated bounceInRight"></div>
						#parse("/common/company-config.html")
					</div>
				</div>
				<div class="lianxiren">
					<input type="hidden" class="bookpolicy" name="airOrder.bookpolicy" value="">
					#parse("/common/link-model.html")
					
				</div>
				<input type="hidden" class="isBook" value=""> <input type="hidden" class="isWei" name="AirOrder.weibeiflag" value="">
				<div class="clear btn-submit text-align">
					<button style="margin-right:30px;" type="button" class="btn btn-cancel btn-big hotel-book-cancle goback" id="air_book_callback" >上一步</button>
					<button class="btn btn-cancel btn-big book-submit" type="button">下一步</button>
				</div>
			</div>
		</form>
		#if("$!bookRoute" !="")
		<input type="hidden" class="customprice-g" value="$!bookRoutes.get(0).customprice">
		<div class="float-right">
				<input type="hidden" class="setNumTo" value="$!bookRoute.get(0).seatNum">
				<input type="hidden" class="air-licheng" value="$!bookRoute.get(0).distance">
				<input type="hidden" class="orderTimes" name="ordertime" value="$!bookRoute.get(0).deptdate,#if($!airquery.type=='rt')$!bookRoute.get(1).deptdate#end">
				<div class="book-xingcheng position margin-bottom-10">
					<span class="position-ab xingcheng-flag text-align">去程</span>
					<input type="hidden" class="air-policys" data-airline="#if($!bookRoute.get(0).codeShare=="
						1")$!bookRoute.get(0).sharecarrier#else$!bookRoute.get(0).airline#end" data-lowprice="$!bookRoute.get(0).lowprice" data-price="$!bookRoute.get(0).price"
						data-farebase="$!bookRoute.get(0).farebase" data-dayprice="$!bookRoute.get(0).dayprice" data-discount="$!bookRoute.get(0).discount">
					<div class="b-x-cityName clear" style="margin-top:6px;">
						<span class="float-left">$!bookRoute.get(0).orgcityname</span>
						<span class="float-left qc-point"></span>
						<span class="float-left after-city">$!bookRoute.get(0).dstcityname</span>
						<span class="float-left air-from-date" data-value="$!bookRoute.get(0).deptdate">$!bookRoute.get(0).deptdate</span>
						<span  data-value="$!weekMap.get($!bookRoute.get(0).deptdate)">$!weekMap.get($!bookRoute.get(0).deptdate)</span>
					</div>
					<div class="clear font-size-12 " style="margin-bottom:17px;">
						<div class="clear font-size-12 " >
							<div class="float-left hoverTips"  style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;">$!bookRoute.get(0).carriername $!bookRoute.get(0).airline |  $!bookRoute.get(0).code/$!bookRoute.get(0).codeDes $!bookRoute.get(0).disdes |
								#if($!bookRoute.get(0).mealcode==1)有餐#elseif($!bookRoute.get(0).mealcode==0)无餐#else$!bookRoute.get(0).mealcode#end</span>
								#if($!bookRoute.get(0).ischeap==1)
								<div class="float-left  cheap">廉</div>
								#end
								<span class="float-right b-j-time timer_run_" style="margin-right:20px;" data-timer="$!bookRoute.get(0).flytime">$!bookRoute.get(0).flytime</span>
							</div>
						</div>
							#if($!bookRoute.get(0).codeShare=="1")
							<div class="margin-left-20 clear" style="margin-top:5px;">
								<div class="beijing float-left"></div>
								<span class="float-left" style="color:rgba(209,7,115,1)">实际承运 &nbsp;</span>
								<span class="float-left" >$!bookRoutes.get(0).sharecarriername $!bookRoute.get(0).sharecarrier</span>
							</div>
							#end
						</div>
						<!--<div class="b-x-cityName clear">-->
							<!--<span class="float-left air-from-date margin-left-20" data-value="$!bookRoutes.get(0).deptdate">$!bookRoute.get(0).deptdate</span>-->
							<!--<span class="float-left air-from-date margin-left-88" data-value="$!bookRoutes.get(0).deptdate">$!bookRoute.get(0).deptdate</span>-->
						<!--</div>-->
					<div class="clear font-size-12" style="padding-bottom: 10px">

						<div class="float-left book-time text-align" >
							<div class=" air-from-date " data-value="$!bookRoutes.get(0).deptdate">$!bookRoute.get(0).deptdate</div>
							<div class="book-times text-align">$!bookRoute.get(0).depttime</div>

							<div>$!bookRoute.get(0).orgname#if($!bookRoute.get(0).deptterm!="")($!bookRoute.get(0).deptterm)#end</div>
						</div>
						<div class="float-left jingting_box_">
							<div class="position book-jiantou">
							    #if($!bookRoute.get(0).stopnumber==1)
							    <span class="transit hover_control_jt" data-shiji="#if($!bookRoute.get(0).sharecarrier=='')$!bookRoute.get(0).airline#else$!bookRoute.get(0).sharecarrier #end">
									<span class="color-6461e2">经停</span>
								<div class="hidedg" style="position:relative;"></div>
									 <input type="hidden" class='air-form-date' value='$!bookRoute.get(0).deptdate'>
								</span>
							   

							    #end
							     #if($!bookRoute.get(0).distance)
								<span class="position-ab b-j-time">$!{bookRoute.get(0).distance}KM</span>
								#end
							</div>
						</div>
						

						<div class="float-left text-align" style="width:136px;">
							<div class="air-from-date" data-value="$!bookRoutes.get(0).deptdate">$!bookRoute.get(0).deptdate</div>
							<div class="book-times">$!bookRoute.get(0).arritime</div>
							<div>$!bookRoute.get(0).arriname#if($!bookRoute.get(0).arriterm!="")($!bookRoute.get(0).arriterm)#end</div>
						</div>
					</div>
					<div style="padding-top: 10px;height:42px;" class="dotte">
					<span  style="margin-left: 19px;display:inline-block;font-size: 12px;font-family: MicrosoftYaHei;font-weight: 400;color: rgba(100,97,226,1);padding:12px 0 14px;" class="position hover_control  color-default #if($!bookRoute.get(0).luggageDetail)cursor air-tgq #end">$!bookRoute.get(0).isluggage
							#if($!bookRoute.get(0).luggageDetail)
						<div class="hover-content hotel-c-big position-ab background-fff">
							<img src="/static/img/common/top_jt.png" class="position-ab top-jiantou mCS_img_loaded" alt="up">
							<div class="table-content">
							<table>
								<tr>$!bookRoute.get(0).luggageDetail</tr>
							</table>
							</div>
							</div>
						#end
							</span>
						<span  class="position float-right hover_control air-tgq cursor color-default" style="padding:12px 14px 14px 0;">
							退改签
							<div class="hover-content hotel-c-big position-ab background-fff">
							<img src="/static/img/common/top_jt.png" class="position-ab top-jiantou mCS_img_loaded" alt="up" style="left:305px;">
							<div class="table-content">
							<table>
							<tbody>
							<tr>
							<td class="table-c-title">退票：</td>
							<td class="tdc">$!bookRoute.get(0).refundrule</td>
							</tr>
							<tr>
							<td class="table-c-title">改签：</td>
							<td class="tdc">$!bookRoute.get(0).changerule</td>
							</tr>
							<tr>
							<td class="table-c-title">签转：</td>
							<td class="tdc">$!bookRoute.get(0).signrule</td>
							</tr>
							</tbody>
							</table>
							</div>
							</div>
							</span></div>

					</div>
				#if($!model.airOrder.ordertype=="rt")
				<input type="hidden" class="setNumReturn" value="$!bookRoute.get(1).seatNum">
				<div class="book-xingcheng position margin-bottom-10">
					<span class="position-ab xingcheng-flag text-align">返程</span> <input type="hidden" class="air-policys" data-airline="#if($!bookRoute.get(1).codeShare=="
						1")$!bookRoute.get(1).sharecarrier#else$!bookRoute.get(1).airline#end" data-lowprice="$!bookRoute.get(1).lowprice" data-price="$!bookRoute.get(1).price"
						data-farebase="$!bookRoute.get(1).farebase" data-dayprice="$!bookRoute.get(1).dayprice" data-discount="$!bookRoute.get(1).discount">
					<div class="clear font-size-12 " style="margin-bottom:17px;margin-top:6px;" >
						<div class="clear font-size-12 ">
							<span class="float-left" style="white-space: nowrap;margin-left: 20px;">$!bookRoute.get(1).carriername $!bookRoute.get(1).airline |  $!bookRoute.get(1).code/$!bookRoute.get(1).codeDes $!bookRoute.get(1).disdes |
							#if($!bookRoute.get(1).mealcode==1)有餐#elseif($!bookRoute.get(1).mealcode==0)无餐#else$!bookRoute.get(1).mealcode#end</span>
							#if($!bookRoute.get(1).ischeap==1)
							<div class="float-left  cheap">廉</div>
							#end
							<span class="float-right b-j-time timer_run_" data-timer="$!bookRoute.get(1).flytime" style="margin-right: 20px" >$!bookRoute.get(1).flytime</span>
						</div>
						#if($!bookRoute.get(1).codeShare=="1")
						<div class="margin-left-20 clear" style="mrgin-top:5px;">
							<div class="beijing float-left"></div>
							<span class="float-left" style="color:rgba(209,7,115,1)">实际承运&nbsp;</span>
							<span class="float-left">$!bookRoutes.get(1).sharecarriername $!bookRoute.get(1).sharecarrier</span>
						</div>
						#end
					</div>
					<!--<div class="b-x-cityName clear">-->
						<!--<span class="float-left air-from-date " data-value="$!bookRoutes.get(1).deptdate" >$!bookRoute.get(1).deptdate</span>-->
						<!--<span class="float-left air-from-date margin-left-88" data-value="$!bookRoutes.get(1).deptdate" >$!bookRoute.get(1).deptdate</span>-->

					<!--</div>-->

					<div class="clear font-size-12 "style="padding-bottom: 10px">
						<div class="float-left book-time text-align">
							<div class=" air-from-date " data-value="$!bookRoutes.get(1).deptdate" >$!bookRoute.get(1).deptdate</div>
							<div class="book-times text-align">$!bookRoutes.get(1).depttime</div>
							<div>$!bookRoutes.get(1).orgname#if($!bookRoutes.get(1).deptterm!="")($!bookRoutes.get(1).deptterm)#end</div>
						</div>
						<div class="float-left jingting_box_">
							<div class="position book-jiantou ">
								#if($!bookRoutes.get(1).stopnumber==1)
								<span class="transit hover_control_jt" data-shiji="#if($!bookRoutes.get(1).sharecarrier=='')$!bookRoutes.get(1).airline#else$!bookRoutes.get(1).sharecarrier #end">
									<span class="color-6461e2">经停</span>
									<div class="hidedg" style="position:relative;"></div>
									<input type="hidden" class='air-form-date' value='$!bookRoutes.get(1).deptdate'>
								</span>
								
								#end
								#if($!bookRoutes.get(1).distance)
								<span class="position-ab b-j-time">$!{bookRoutes.get(1).distance}KM</span>
								#end
							</div>
						</div>
						
						<div class="float-left text-align" style="width:136px;">
							<div class="air-from-date" data-value="$!bookRoutes.get(1).deptdate" >$!bookRoute.get(1).deptdate</div>
							<div class="book-times">$!bookRoutes.get(1).arritime</div>
							<div>$!bookRoutes.get(1).arriname#if($!bookRoutes.get(1).arriterm!="")($!bookRoutes.get(1).arriterm)#end</div>
						</div>
					</div>
					<div style="padding-top: 10px;height:42px;" class="dotte">
					<span style="margin-left: 19px;display:inline-block;font-size: 12px;font-family: MicrosoftYaHei;font-weight: 400;color: rgba(100,97,226,1);padding:12px 0 14px;" class="position hover_control air-tgq cursor color-default">$!{bookRoutes.get(1).luggage}
							#if($!bookRoutes.get(1).luggageDetail)
						<div class="hover-content hotel-c-big position-ab background-fff">
							<img src="/static/img/common/top_jt.png" class="position-ab top-jiantou mCS_img_loaded" alt="up">
							<div class="table-content">
								<table>
								<tr> $!bookRoutes.get(1).luggageDetail</tr>
							</table>
							</div>

						</div>
						#end
							</span>
						<span  class="position float-right hover_control air-tgq cursor color-default" style="padding:12px 14px 14px 0;"> 退改签
							<div class="hover-content hotel-c-big position-ab background-fff">
							<img src="/static/img/common/top_jt.png" class="position-ab top-jiantou mCS_img_loaded" alt="up" style="left:305px;">
							<div class="table-content">
							<table>
							<tbody>
							<tr>
							<td class="table-c-title">退票：</td>
							<td class="tdc">$!bookRoute.get(1).refundrule</td>
							</tr>
							<tr>
							<td class="table-c-title">改签：</td>
							<td class="tdc">$!bookRoute.get(1).changerule</td>
							</tr>
							<tr>
							<td class="table-c-title">签转：</td>
							<td class="tdc">$!bookRoute.get(1).signrule</td>
							</tr>
							</tbody>
							</table>
							</div>
							</div>
							</span></div>

				</div>
			#end
				<input type="hidden" class="customprice-g" value="$!bookRoutes.get(0).customprice">
				<div class="price-model">
					<div class="p-m-title p-m-tprice clear">
						<span class="float-left">应付金额</span>
						<span class="float-right">
							<span class="font-size-12 p-m-mp" >￥</span>
							<span class="p-m-price"  >$!model.airOrder.totalprice</span>
						</span>
					</div>
					<div class="cost-show font-size-12">
						<div class="p-m-t-p position">
							去程费用 <span class="position-ab cs-dashed"></span>
						</div>
						<div class="clear e-p-count">
							<div class="float-left e-p-title">票价</div>
							#set($!bookRouteTicket = $!bookRoute.get(0).price * $!model.airUser.size())
							<div class="float-left e-p-num">
								<span class="unit-price" data-everyprice="$!bookRoute.get(0).price">$!bookRoute.get(0).price</span>*<span class="personNum">$!model.airUser.size()</span>人
							</div>
							<div class="float-left text-align-r e-p-total">$!bookRouteTicket</div>
						</div>
						<div class="clear e-p-count">
							<div class="float-left e-p-title">机建/燃油</div>
							#set($fueltax=$!bookRoute.get(0).airporttax + $!bookRoute.get(0).fueltax)
							#set($fueltaxs=$!fueltax * $!model.airUser.size())
							<div class="float-left e-p-num">
								<span class="unit-fueltax" data-everyprice="$!fueltax">$!fueltax</span>*<span class="personNum">$!model.airUser.size()</span>人
							</div>
							<div class="float-left text-align-r e-p-total">$!fueltaxs</div>
						</div>
						<div class="clear e-p-count fanxian-hide hide">
							<div class="float-left e-p-title">现返</div>
							#set($customprice=$!bookRoute.get(0).customprice)
							<div class="float-left e-p-num">
								<span class="unit-xianfan" data-everyprice="-$customprice">$customprice</span>*<span class="personNum">$!model.airUser.size()</span>人
							</div>
							<div class="float-left text-align-r e-p-total"></div>
						</div>
						<div class="clear e-p-count">
							<div class="float-left e-p-title">保险</div>
							#set($baoxian = $!model.airUser.get(0).bxPayMoney * $!model.airUser.size())
							<div class="float-left e-p-num">
								<span class="unit-baoxian" data-everyprice="0">$!model.airUser.get(0).bxPayMoney</span>*<span class="personNum">$!model.airUser.size()</span>人
							</div>
							<div class="float-left text-align-r e-p-total">#if("$!baoxian" =="") 0 #else $!baoxian #end</div>
						</div>
						<div class="clear e-p-count server-baifenbi">
							<div class="float-left e-p-title">服务费</div>
							<div class="float-left e-p-num">
								<span class="e-server-cost"></span>*<span class='serverSub'></span>
							</div>
							<div class="float-left text-align-r e-p-total e-p-total-s">0</div>
						</div>
					</div>
					#if($!airquery.type=="rt")
					<input type="hidden" class="customprice-g" value="$!bookRoutes.get(0).customprice">
					<input type="hidden" class="customprice-r" value="$!bookRoutes.get(1).customprice">
					<div class="cost-show font-size-12">
						<div class="p-m-t-p position e-p-last">
							返程费用 <span class="position-ab cs-dashed"></span>
						</div>
						<div class="clear e-p-count">
							<div class="float-left e-p-title">票价</div>
							#set($rtprice = $!bookRoute.get(1).price * $!model.airUser.size())
							<div class="float-left e-p-num">
								<span class="unit-price" data-everyprice="$!bookRoute.get(1).price">$!bookRoute.get(1).price</span>*<span class="personNum">$!model.airUser.size()</span>人
							</div>
							<div class="float-left text-align-r e-p-total">$!rtprice</div>
						</div>
						<div class="clear e-p-count">
							#set($fueltax=$!bookRoute.get(1).airporttax + $!bookRoute.get(1).fueltax)
							<div class="float-left e-p-title">机建/燃油</div>
							<div class="float-left e-p-num">
								<span class="unit-fueltax" data-everyprice="$!fueltax">$!fueltax</span>*<span class="personNum">$!model.airUser.size()</span>人
							</div>
							<div class="float-left text-align-r e-p-total">$fueltax</div>
						</div>
						<div class="clear e-p-count fanxian-hide hide">
							<div class="float-left e-p-title">现返</div>
							#set($customprice=$!bookRoute.get(1).customprice)
							<div class="float-left e-p-num">
								<span class="unit-baoxian" data-everyprice="-$customprice">$customprice</span>*<span class="personNum">$!model.airUser.size()</span>人
							</div>
							<div class="float-left text-align-r e-p-total">$!baoxian</div>
						</div>
						<div class="clear e-p-count">
							<div class="float-left e-p-title">保险</div>
							#set($baoxian = $!model.airUser.get(0).bxPayMoney * $!model.airUser.size())
							<div class="float-left e-p-num">
								<span class="unit-baoxian" data-everyprice="0">$!model.airUser.get(0).bxPayMoney</span>*<span class="personNum">$!model.airUser.size()</span>人
							</div>
							<div class="float-left text-align-r e-p-total">$!baoxian</div>
						</div>
						<div class="clear e-p-count server-baifenbi">
							<div class="float-left e-p-title">服务费</div>
							<div class="float-left e-p-num">
								<span class="e-server-cost"></span>*<span class='serverSub'></span>
							</div>
							<div class="float-left text-align-r e-p-total e-p-total-s">0</div>
						</div>
					</div>
					#end
					<div class="e-server-cost serverCost-none"></div>
					<div class='order-server font-size-12'>
						<div class="p-m-t-p position e-p-last">
							服务费 <span class="position-ab cs-dashed"></span>
						</div>
						<div class="float-left e-p-title">服务费</div>
						<div class="float-left e-p-num">
							<span class="e-server-cost"></span>*<span>$!bookRoute.size()程</span>*<span class="e-num"></span>人
						</div>
						<div class="float-left text-align-r e-p-total-s"></div>
					</div>
				</div>
			</div>
		#else
			<div class="float-right">
				<input type="hidden" class="setNumTo" value="$!bookRoutes.get(0).seatNum">
				<input type="hidden" class="air-licheng" value="$!bookRoutes.get(0).distance">
				<input type="hidden" class="orderTimes" name="ordertime" value="$!bookRoutes.get(0).deptdate,#if($!airquery.type=='rt')$!bookRoutes.get(1).deptdate#end">
				<div class="book-xingcheng position margin-bottom-10">
					<span class="position-ab xingcheng-flag text-align">去程</span>
					<input type="hidden" class="air-policys" data-airline="#if($!bookRoutes.get(0).codeShare=="
						1")$!bookRoutes.get(0).sharecarrier#else$!bookRoutes.get(0).airline#end" data-lowprice="$!bookRoutes.get(0).lowprice" data-price="$!bookRoutes.get(0).price"
						data-farebase="$!bookRoutes.get(0).farebase" data-dayprice="$!bookRoutes.get(0).dayprice" data-discount="$!bookRoutes.get(0).discount">
					<div class="clear font-size-12 "style="margin-bottom:17px;margin-top:6px;" >
						<div class="clear font-size-12 ">
							<span class="float-left hoverTips"  style="white-space: nowrap;margin-left: 20px;text-overflow:ellipsis">$!bookRoutes.get(0).carriername $!bookRoutes.get(0).airline |  $!bookRoutes.get(0).code/$!bookRoutes.get(0).codeDes $!bookRoutes.get(0).disdes |
							#if($!bookRoutes.get(0).mealcode==1)有餐#elseif($!bookRoutes.get(0).mealcode==0)无餐#else$!bookRoutes.get(0).mealcode#end</span>
							#if($!bookRoutes.get(0).ischeap==1)
							<div class="float-left  cheap">廉</div>
							#end
							<span class="float-right b-j-time timer_run_"  data-timer="$!bookRoutes.get(0).flytime" style="margin-right:20px">$!bookRoutes.get(0).flytime</span>
						</div>
						#if($!bookRoutes.get(0).codeShare=="1")
						<div class="margin-left-20 clear" style="margin-top:5px;">
							<div class="beijing float-left"></div>
							<span class="float-left" style="color:rgba(209,7,115,1);padding-left:10px;">实际承运 &nbsp;</span>
							<span class="float-left" > $!bookRoutes.get(0).sharecarriername $!bookRoutes.get(0).sharecarrier</span>
						</div>
						#end
					</div>

					<!--<div class="b-x-cityName clear" >-->
						<!--<span class="float-left air-from-date margin-left-20" data-value="$!bookRoutes.get(0).deptdate">$!bookRoutes.get(0).deptdate</span>-->
						<!--<span class="float-left air-from-date margin-left-88" data-value="$!bookRoutes.get(0).deptdate">$!bookRoutes.get(0).deptdate</span>-->
					<!--</div>-->
					<div class="clear font-size-12" style="padding-bottom: 10px">

						<div class="float-left book-time text-align" >
							<div class=" air-from-date " data-value="$!bookRoutes.get(0).deptdate">$!bookRoutes.get(0).deptdate</div>
							<div class="book-times text-align">$!bookRoutes.get(0).depttime</div>

							<div>$!bookRoutes.get(0).orgname#if($!bookRoutes.get(0).deptterm!="")($!bookRoutes.get(0).deptterm)#end</div>
						</div>
						<div class="float-left jingting_box_">
							<div class="position book-jiantou ">
							    #if($!bookRoutes.get(0).stopnumber==1)
							    <span class="transit hover_control_jt" data-shiji="#if($!bookRoutes.get(0).sharecarrier=='')$!bookRoutes.get(0).airline#else$!bookRoutes.get(0).sharecarrier #end">
									<span class="color-6461e2">经停</span>
								<div class="hidedg" style="position:relative;"></div>
									<input type="hidden" class='air-form-date' value='$!bookRoutes.get(0).deptdate'>
								</span>
							 
								#end
							    #if($!bookRoutes.get(0).distance)
								<span class="position-ab b-j-time">$!{bookRoutes.get(0).distance}KM</span>
								#end
							</div>
						</div>
						
						<div class="float-left text-align" style="width:136px;">
							<div class=" air-from-date " data-value="$!bookRoutes.get(0).deptdate">$!bookRoutes.get(0).deptdate</div>
							<div class="book-times">$!bookRoutes.get(0).arritime</div>
							<div>$!bookRoutes.get(0).arriname#if($!bookRoutes.get(0).arriterm!="")($!bookRoutes.get(0).arriterm)#end</div>
						</div>
					</div>
					<div  class="dotte" style="height:42px;padding-top: 10px;">
					<span style="margin-left: 19px;display:inline-block;font-size: 12px;font-family: MicrosoftYaHei;font-weight: 400;color: rgba(100,97,226,1);padding:12px 0 14px;" class="position hover_control color-default #if($!bookRoutes.get(0).luggageDetail)cursor air-tgq #end" >$!bookRoutes.get(0).isluggage
							#if($!bookRoutes.get(0).luggageDetail)<div class="hover-content-new hover-content hotel-c-big position-ab background-fff" style="left: -90px">
							<!--<img src="/static/img/common/top_jt.png" class="position-ab top-jiantou mCS_img_loaded" alt="up">-->
							<div class="table-content">
							<table>
								<tr> $!bookRoutes.get(0).luggageDetail</tr>
							</table>
							</div>
							</div>
						#end
							</span>
						<span  class="position float-right hover_control air-tgq cursor color-default" style="padding:12px 14px 14px 0;"> 退改签
							<div class="hover-content hotel-c-big position-ab background-fff">
							<img src="/static/img/common/top_jt.png" class="position-ab top-jiantou mCS_img_loaded" alt="up" style="left:305px;">
							<div class="table-content">
							<table>
							<tbody>
							<tr>
							<td class="table-c-title">退票：</td>
							<td class="tdc">$!bookRoutes.get(0).refundrule</td>
							</tr>
							<tr>
							<td class="table-c-title">改签：</td>
							<td class="tdc">$!bookRoutes.get(0).changerule</td>
							</tr>
							<tr>
							<td class="table-c-title">签转：</td>
							<td class="tdc">$!bookRoutes.get(0).signrule</td>
							</tr>
							</tbody>
							</table>
							</div>
							</div>
							</span></div>

				</div>
			#if($!airquery.type=="rt")
				<input type="hidden" class="customprice-g" value="$!bookRoutes.get(0).customprice">
				<input type="hidden" class="customprice-r" value="$!bookRoutes.get(1).customprice">
				<input type="hidden" class="setNumReturn" value="$!bookRoutes.get(1).seatNum">
				<div class="book-xingcheng position margin-bottom-10">
					<span class="position-ab xingcheng-flag text-align">返程</span> <input type="hidden" class="air-policys" data-airline="#if($!bookRoutes.get(1).codeShare=="
						1")$!bookRoutes.get(1).sharecarrier#else$!bookRoutes.get(1).airline#end" data-lowprice="$!bookRoutes.get(1).lowprice" data-price="$!bookRoutes.get(1).price"
						data-farebase="$!bookRoutes.get(1).farebase" data-dayprice="$!bookRoutes.get(1).dayprice" data-discount="$!bookRoutes.get(1).discount">
					<div class="clear font-size-12 " style="margin-bottom:17px;margin-top:6px;" >
						<div class="clear font-size-12 ">
							<span class="float-left" style="white-space: nowrap;margin-left: 20px;">$!bookRoutes.get(1).carriername $!bookRoutes.get(1).airline | $!bookRoutes.get(1).code/$!bookRoutes.get(1).codeDes $!bookRoutes.get(1).disdes |
							#if($!bookRoutes.get(1).mealcode==1)有餐#elseif($!bookRoutes.get(1).mealcode==0)无餐#else$!bookRoutes.get(1).mealcode#end</span>
							#if($!bookRoutes.get(1).ischeap==1)
							<div class="float-left  cheap">廉</div>
							#end
							<span class="float-right b-j-time timer_run_" style="margin-right: 20px"  data-timer="$!bookRoutes.get(1).flytime">$!bookRoutes.get(1).flytime</span>
						</div>
						#if($!bookRoutes.get(1).codeShare=="1")
						<div class="margin-left-20 clear" style="margin-top:5px;">
							<div class="beijing float-left"></div>
							<span class="float-left" style="color:rgba(209,7,115,1)">
								实际承运
								&nbsp;
							</span>
							<span class="float-left" >$!bookRoutes.get(1).sharecarriername $!bookRoutes.get(1).sharecarrier</span>
						</div>
						#end
					</div>
					<!--<div class="b-x-cityName clear">-->
						<!--<span class="float-left air-from-date margin-left-20" data-value="$!bookRoutes.get(1).deptdate" >$!bookRoutes.get(1).deptdate</span>-->
						<!--<span class="float-left air-from-date margin-left-88" data-value="$!bookRoutes.get(1).deptdate" >$!bookRoutes.get(1).deptdate</span>-->

					<!--</div>-->

					<div class="clear font-size-12 "style="padding-bottom: 10px">
						<div class="float-left book-time text-align">
							<div class=" air-from-date " data-value="$!bookRoutes.get(1).deptdate" >$!bookRoutes.get(1).deptdate</div>
							<div class="book-times text-align" >$!bookRoutes.get(1).depttime</div>
							<div>$!bookRoutes.get(1).orgname#if($!bookRoutes.get(1).deptterm!="")($!bookRoutes.get(1).deptterm)#end</div>
						</div>
						<div class="float-left  jingting_box_">
							<div class="position book-jiantou">
							    #if($!bookRoutes.get(1).stopnumber==1)
							    <span class="transit hover_control_jt" data-shiji="#if($!bookRoutes.get(1).sharecarrier=='')$!bookRoutes.get(1).airline#else$!bookRoutes.get(1).sharecarrier #end">
									<span class="color-6461e2">经停</span>
								<div class="hidedg" style="position:relative;"></div>
									<input type="hidden" class='air-form-date' value='$!bookRoutes.get(1).deptdate'>
								</span>
							    #end
							    #if($!bookRoutes.get(1).distance)
								<span class="position-ab b-j-time">$!{bookRoutes.get(1).distance}KM</span>
								#end
							</div>
						</div>
						
						<div class="float-left text-align" style="width:136px;">
							<div class=" air-from-date " data-value="$!bookRoutes.get(1).deptdate" >$!bookRoutes.get(1).deptdate</div>
							<div class="book-times">$!bookRoutes.get(1).arritime</div>
							<div>$!bookRoutes.get(1).arriname#if($!bookRoutes.get(1).arriterm!="")($!bookRoutes.get(1).arriterm)#end</div>
						</div>
					</div>
				<div style="padding-top: 10px;height:42px;" class="dotte">
					<span style="margin-left: 19px;display:inline-block;font-size: 12px;font-family: MicrosoftYaHei;font-weight: 400;color: rgba(100,97,226,1);padding:12px 0 14px;" class="position hover_control color-default #if($!bookRoutes.get(1).luggageDetail)cursor air-tgq #end" >$!bookRoutes.get(1).isluggage
							#if($!bookRoutes.get(1).luggageDetail)<div class="hover-content-new hover-content hotel-c-big position-ab background-fff" style="left: -90px">
							<!--<img src="/static/img/common/top_jt.png" class="position-ab top-jiantou mCS_img_loaded" alt="up">-->
							<div class="table-content">
							<table>
								<tr> $!bookRoutes.get(1).luggageDetail</tr>
							</table>
							</div>
							</div>
						#end
					</span>
					<span  class="position float-right hover_control air-tgq cursor color-default" style="padding:12px 14px 14px 0;"> 退改签
							<div class="hover-content hotel-c-big position-ab background-fff">
							<img src="/static/img/common/top_jt.png" class="position-ab top-jiantou mCS_img_loaded" alt="up" style="left:305px;">
							<div class="table-content">
							<table>
							<tbody>
							<tr>
							<td class="table-c-title">退票：</td>
							<td class="tdc">$!bookRoutes.get(1).refundrule</td>
							</tr>
							<tr>
							<td class="table-c-title">改签：</td>
							<td class="tdc">$!bookRoutes.get(1).changerule</td>
							</tr>
							<tr>
							<td class="table-c-title">签转：</td>
							<td class="tdc">$!bookRoutes.get(1).signrule</td>
							</tr>
							</tbody>
							</table>
							</div>
							</div>
							</span>
				</div>
					<input type="hidden" class="customprice-g" value="$!bookRoutes.get(0).customprice">
				</div>
			#end
			
				<div class="price-model">
				<div class="p-m-title p-m-tprice clear">
					<span class="float-left" >应付金额</span> <span class="float-right"> <span class="font-size-12 p-m-mp">￥</span> <span class="p-m-price"></span>
					</span>
				</div>
				<div class="cost-show font-size-12">
					<div class="p-m-t-p position">
						去程费用 <span class="position-ab cs-dashed"></span>
					</div>
					<div class="clear e-p-count">
						<div class="float-left e-p-title">票价</div>
						<div class="float-left e-p-num">
							<span class="unit-price" data-everyprice="$!bookRoutes.get(0).price">$!bookRoutes.get(0).price</span>*<span class="personNum">1</span>人
						</div>
						<div class="float-left text-align-r e-p-total">$!bookRoutes.get(0).price</div>
					</div>
					<div class="clear e-p-count">
						<div class="float-left e-p-title">机建/燃油</div>
						
						#set($fueltax=$!bookRoutes.get(0).airporttax + $!bookRoutes.get(0).fueltax)
						<div class="float-left e-p-num">
							<span class="unit-fueltax" data-everyprice="$!fueltax">$!fueltax</span>*<span class="personNum">1</span>人
						</div>
						<div class="float-left text-align-r e-p-total">$!fueltax</div>
					</div>
					<div class="clear e-p-count fanxian-hide hide">
						<div class="float-left e-p-title">现返</div>
						#set($customprice=$!bookRoutes.get(0).customprice)
						<div class="float-left e-p-num">
							<span class="unit-xianfan" data-everyprice="-$customprice">$customprice</span>*<span class="personNum">1</span>人
						</div>
						<div class="float-left text-align-r e-p-total"></div>
					</div>
					<div class="clear e-p-count">
						<div class="float-left e-p-title">保险</div>
						<div class="float-left e-p-num">
							<span class="unit-baoxian" data-everyprice="0">0</span>*<span class="personNum">1</span>人
						</div>
						<div class="float-left text-align-r e-p-total">0</div>
					</div>
					<div class="clear e-p-count server-baifenbi">
						<div class="float-left e-p-title">服务费</div>
						<div class="float-left e-p-num">
							<span class="e-server-cost"></span>*<span class='serverSub'></span>
						</div>
						<div class="float-left text-align-r e-p-total e-p-total-s">0</div>
					</div>
				</div>
				#if($!airquery.type=="rt")
				<input type="hidden" class="customprice-g" value="$!bookRoutes.get(0).customprice">
				<input type="hidden" class="customprice-r" value="$!bookRoutes.get(1).customprice">
				<div class="cost-show font-size-12">
					<div class="p-m-t-p position e-p-last">
						返程费用 <span class="position-ab cs-dashed"></span>
					</div>
					<div class="clear e-p-count">
						<div class="float-left e-p-title">票价</div>
						<div class="float-left e-p-num">
							<span class="unit-price" data-everyprice="$!bookRoutes.get(1).price">$!bookRoutes.get(1).price</span>*<span class="personNum">1</span>人
						</div>
						<div class="float-left text-align-r e-p-total">$!bookRoutes.get(1).price</div>
					</div>
					<div class="clear e-p-count">
						#set($fueltax=$!bookRoutes.get(1).airporttax + $!bookRoutes.get(1).fueltax)
						<div class="float-left e-p-title">机建/燃油</div>
						<div class="float-left e-p-num">
							<span class="unit-fueltax" data-everyprice="$!fueltax">$!fueltax</span>*<span class="personNum">1</span>人
						</div>
						<div class="float-left text-align-r e-p-total">$fueltax</div>
					</div>
					<div class="clear e-p-count fanxian-hide hide">
						<div class="float-left e-p-title">现返</div>
						#set($customprice=  $!bookRoutes.get(1).customprice)
						<div class="float-left e-p-num">
							<span class="unit-xianfan" data-everyprice="-$!{customprice}">$!{customprice}</span>*<span class="personNum">1</span>人
						</div>
						<div class="float-left text-align-r e-p-total">0</div>
					</div>
					<div class="clear e-p-count">
						<div class="float-left e-p-title">保险</div>
						<div class="float-left e-p-num">
							<span class="unit-baoxian" data-everyprice="0">0</span>*<span class="personNum">1</span>人
						</div>
						<div class="float-left text-align-r e-p-total">0</div>
					</div>
					<div class="clear e-p-count server-baifenbi">
						<div class="float-left e-p-title">服务费</div>
						<div class="float-left e-p-num">
							<span class="e-server-cost"></span>*<span class='serverSub'></span>
						</div>
						<div class="float-left text-align-r e-p-total e-p-total-s">0</div>
					</div>
				</div>
				#end
				<div class="e-server-cost serverCost-none"></div>
				<div class='order-server font-size-12'>
					<div class="p-m-t-p position e-p-last">
						服务费 <span class="position-ab cs-dashed"></span>
					</div>
					<div class="float-left e-p-title">服务费</div>
					<div class="float-left e-p-num">
						<span class="e-server-cost"></span>*<span>$!bookRoutes.size()程</span>*<span class="e-num"></span>人
					</div>
					<div class="float-left text-align-r e-p-total-s"></div>
				</div>
			</div>
		</div>
		#end
	</div>
	<!--相似订单校验参数-->
	#if($!airquery.type=="rt")
		<input type="hidden" class="secondFromDate" value="$!bookRoutes.get(1).deptdate"> <!--返程的出发时间-->
		<input type="hidden" class="secondArriveDate" value="$!bookRoutes.get(1).arridate"><!--返程的到达时间-->
	#end
		<input type="hidden" class="firstFromDate" value="$!bookRoutes.get(0).deptdate"><!--去程的出发时间-->
		<input type="hidden" class="firstArriveDate" value="$!bookRoutes.get(0).arridate"><!--去程的到达时间-->
	#parse("/common/passenger-search.html")
	<div id="menuContent" class="menuContent" style="display: none; position: absolute; background: #e9e9e9;z-index: 99;">
		<ul id="treeDemo" class="ztree" style="margin-top: 0; width: 160px; height: 240px; overflow: auto;"></ul>
	</div>
	<div class='bx-model-shadow' style='width:100%;min-height:500px;position:fixed;top:0;left:0;background:#000;filter:alpha(opacity=40);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";opacity:0.4;z-index:5;display:none'></div>
	<div class='bx-model-show' style='width:800px;height:300px;padding:30px 20px;overflow:auto;position:fixed;top:0;bottom:0;left:0;right:0;margin:auto;background:#fff;z-index:6;display:none'>
		<div style='font-size:14px;height:20px;line-height:20px;text-align:center;padding-bottom:10px'>保险说明</div>
		<div style="font-size:12px" class="bx-illu-c"></div>
		<div style='text-align:center;height:30px;line-height:30px;padding:20px 0 30px 0'>
			 <button class='btn btn-default btn-big bx_model_close' type='button'>关闭</button>
		</div>
	</div>
	<!-- 主体 end -->
	#parse("/common/foot.html")
	<script type="text/javascript" src="/static/js/air/air-policy.js"></script>
	<script type="text/javascript" src="/static/js/common/getLoginUser.js"></script>
	<script type="text/javascript" src="/static/js/air/air-book.js"></script>
	<script type="text/javascript" src="/static/js/common/passenger-search.js"></script>
	<script type="text/javascript" src="/resources/js/common/validate.js"></script>
	<script type="text/javascript" src="/resources/js/common/common-link.js"></script>
	<script type="text/javascript">
		ztreeMain({
			'zNodes':$!{depttree}
		});
	</script>

</body>
</html>
