<!-- 遮罩层 begin -->
<div class="position-ab Screen-full hide">
	<div class="Screen-zhezhao"></div>
	<div class="position-ab query-loading">
		<div class="text-align">请稍等...</div>
		<div class="loadingImg text-align">
			<img src="/static/project-resource/img/loading-line.gif" style="width: 555px;height: 22px;">
		</div>
		<div class="font-size-14 text-align query-status">正在努力为您查询实时的车次信息</div>
		<div class="font-size-14 text-align query-tips"></div>
		<div class="query-hc">
			<span class="float-left wait-icon icon-train"></span>
			<span class="float-left wait-city wait-city-before"></span>
			<span class="float-left a-l-point wait-jiantou position">
				<span class="wait-hb-date position-ab text-align"></span>
			</span>
			<span class="float-left wait-city wait-city-after text-align-r"></span>
		</div>
	</div>
</div>
<!-- 遮罩层 end -->