<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>个人中心-修改证件信息</title>
		#parse("/common/styleSheetCommon.html")
		<link rel="stylesheet" type="text/css" href="/static/css/personal-center/personal-center.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/common/common.css"/>
	<body>
		<form action="/component/save/update/cert" method="POST" class="alert-form" id="edit-card" style="position: relative">
			<input type="hidden" name="id" value="$!cert.id">
			<input type="hidden" name="flag" value="" id="cert_flag">
			<input type="hidden" name="companyid" value="$!{employee.companyid}" >
			<input type="hidden" name="empid" value="$!{employee.id}" >
			<div class="every-input change_one">
				<span class="icon-img bx-detail-enter position-ab"id="icon"></span><b class="must-flag">*</b>
				<span>证件姓名</span><input type="text" id="name_place"  name="username" value="$!cert.username" class="input border-radius" placeholder="姓名" datatype="*" nullmsg="请输入证件姓名！"/>
				<div class="ex" >
				<p class="size">
					#foreach($rule in $!certRules)
						$!{rule.msg}<br/>
						#if($!rule.child)
							#foreach($cr in $!rule.child)
								$!{cr.msg}<br/>
							#end
						#end
					#end
				</p>
			</div>
				<div class="chinese" id="chinese_img"  data-cname="$!cert.username" data-ichin="$!{cert.isChinese}"  style="display: inline;width: 30px;height: 20px;vertical-align: middle;margin-left: -5px ">
					<img class="#if($!{cert.certtype} != '1')#if($cert.isChinese)chinese_switch#else english_switch #end#end">
				</div>
				<input type="hidden" name="isChinese" value="$!{cert.isChinese}" id="is_chinese_i_">
			</div>
			<div class="every-input change_two id_drop" id="cert_type_d_">
				<b class="must-flag">*</b>
				<span>证件类型</span>
				#if(!$!cert.id)
					<select  name="certtype" class="_select_ cert_type_i" id="cert_type_s_" datatype="*1-3" data-value="$!{cert.certtype}" nullmsg="请选择证件类型！" errormsg="请选择证件类型！" >
						<option value="">请选择</option>
						#foreach($ct in $!certtype)
							<option value="$!ct.key" data-bil="$!ct.bilingualism" data-lan="$!ct.defaultLanguage">$!ct.name</option>
						#end
					</select>
				#else
					<input type="text" value="$!cert.certtypeName" class="input border-radius cert_type_i" data-value="$!{cert.certtype}" readonly="readonly"/>
					<input type="hidden" name="certtype" value="$!cert.certtype"/>
				#end
			</div>
			<div class="every-input change_one">
				<b class="must-flag">*</b>
				<span>证件号码</span><input type="text" name="certificate"id="sfz" onblur="fillInfo()" value="$!cert.certificate" class="input border-radius" placeholder="证件号码" />
			</div>
			<div class="every-input show change_two" >
				<span style="margin-left: 18px" >出生日期</span><input type="text" name="birthday" id="cert_birthday_" ignore="ignore" value="$!cert.birthday" class="input border-radius" placeholder="出生日期"id="year"  onfocus="WdatePicker({dateFmt:'yyyyMMdd',maxDate:'%y-%M-%d'})" readonly="readonly"  nullmsg="请选择出生日期" />
					<div class="hite_marked" id="different_bir_d" >
					</div>
				</div>
			</div>
			<div class="every-input show  change_one">
				<b class="must-flag"></b>
				<span style="margin-left: 27px">有效期</span>
				<input type="text" name="passportdate" value="$!cert.passportdate" ignore="ignore"class="input border-radius" placeholder="证件有效日期"
					   onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly="readonly"  nullmsg="请选择证件有效日期" />
			</div>
			<div class="every-input show change_two">
				<b class="must-flag"></b>
				<span style="float: left;margin-left: 47px">性别</span>
				<select name="sex" class="_select_"data-value="$!{cert.sex}" nullmsg="性别"  >
					<option value="">性别</option>
					<option value="M">男</option>
					<option value="F">女</option>
				</select>
			</div>
			<div class="every-input show change_one">
				<span style="margin-left: 47px">国籍</span><input type="text" autocomplete="off"  ignore="ignore" value="$!cert.guoji" class="input user_centro nationality" name="guoji"  class="input border-radius" placeholder="请选择"   />
			</div>
			<div class="every-input show change_two">
				<span style="margin-left: 35px">签发地</span><input type="text" autocomplete="off" name="placeIssue" value="$!cert.placeIssue" class="input border-radius nationality" placeholder="请选择"  nullmsg="请选择证件有效日期" />
			</div>

			#if("$!{cert.isdefault}"=="" || $!{cert.isdefault}==0)
				<div class="every-input change_one">
					<!--label label-checkbox clear vertical-->
					<div class="label  vertical cursor #if($!{cert.isdefault}!=0) label-select-checkbox  #end" id="cert_is_default">
						<span class="show_choice"></span>
						<input type="checkbox" name="isdefault" value="#if($!{cert.isdefault}!=0)1#else$!{cert.isdefault}#end" checked="checked">
						<span class=" credentials-default" data-id="$!cert.id" data-param="">设为默认</span>
					</div>
				</div>
			#end
			<div class="form-row-button" style="margin-top: -10px">
				<button type="submit" class="btn btn-3e4eb2 btn-big btn-save">保存</button>
				<button type="button" class="btn btn-cancel btn-big alert_close_">取消</button>
			</div>
			
		</form>
			
		#parse("/common/foot.html")
		<script type="text/javascript" src="/static/js/crm/personal-center/personal-center.js"></script>
	<script>

        $(function(){
			if($(".cert_type_i").attr("data-value") == "1"){
				$('.show').hide();
				certNameHintCN();
                delInnoreProperty();
			}
			
			// 切换证件
		    $('body').on("click", '#cert_type_d_ .drop_option li', function () {
	           var type = $(this).attr("data-values"); // 当前证件类型
		    	if(type != ""){
		    		var ct = $("#cert_type_s_").find("option[value='"+type+"']");
		    		var bill = ct.attr("data-bil"); // 是否支持中英文切换
		    		var ic = $("#is_chinese_i_").val(); // 当前证件姓名的中英文
		    		var $img_ = $("#chinese_img").find("img");
		    		if(bill == "true"){
		    			// 中文
		    			if(ic == "true" || ic == "1"){
		    				$img_.removeClass("english_switch");
		    				$img_.addClass("chinese_switch");
			    			$("#is_chinese_i_").val("1");
			    			certNameHintCN();
		    			}else{
		    				// 英文
		    				$img_.addClass("english_switch");
		    				$img_.removeClass("chinese_switch");
			    			$("#is_chinese_i_").val("0");
			    			certNameHintEN();
		    			}
		    		}else{
		    			$img_.removeClass("english_switch");
		    			$img_.removeClass("chinese_switch");
		    			$("#is_chinese_i_").val("1");
		    			certNameHintCN();
		    		}
		    		// 其他信息显示隐藏
		    		if(type == "1"){
		    			$('.show').hide();
		    			delInnoreProperty();
		    		}else{
		    			$('.show').show();
		    			addInnoreProperty();
		    		}
		    	}
	        });

			// 选择默认
			$("#cert_is_default").click(function(){
				if($(this).hasClass("label-select-checkbox")){
					$(this).removeClass("label-select-checkbox");
					$("input[name='isdefault']").val("0");
				}else{
					$(this).addClass("label-select-checkbox");
					$("input[name='isdefault']").val("1");
				}
			});
			
			// 中英文切换
			$("#chinese_img").click(function(){
				var $img = $(this).find("img");
				var cn = $(this).attr("data-cname");
				var ci = $(this).attr("data-ichin");
				if($img.hasClass("chinese_switch")){
					$img.removeClass("chinese_switch");
					$img.addClass("english_switch");
					$("#is_chinese_i_").val("0");
					certNameHintEN();
					if(cn != ""){
						if(ci == "false" || ci == "0"){
							$("#name_place").val(cn);
						}else{
							$("#name_place").val("");
						}
					}
				}else if($img.hasClass("english_switch")){
					$img.removeClass("english_switch");
					$img.addClass("chinese_switch");
					$("#is_chinese_i_").val("1");
					certNameHintCN();
					if(cn != ""){
						if(ci == "true" || ci == "1"){
							$("#name_place").val(cn);
						}else{
							$("#name_place").val("");
						}
					}
				}
			});
        });
        
        // 选择不同生日
        $("body").on("click", ".different_birthday_d_", function(){
        	$(".different_birthday_d_").removeClass("label-select-radio");
        	$(this).addClass("label-select-radio");
        	var dv = $(this).attr("data-value");
        	$("#cert_birthday_").val(dv);
        	$("#cert_flag").val("1");
        });
        
     	// 关闭选中生日
        $("body").on("click", "#close_dif_div_", function(){
        	$("#different_bir_d").html("");
    		$("#different_bir_d").hide();
    		$("#cert_flag").val("");
        });

		// 添加参数验证
        function addInnoreProperty(){
        	// 暂时注释不要删除
			//$("input[name='birthday']").attr("ignore","ignore");
           	//$("input[name='passportdate']").attr("ignore","ignore");
            //$("input[name='guoji']").attr("ignore","ignore");
            //$("input[name='placeIssue']").attr("ignore","ignore");
        }
     	// 删除参数验证
        function delInnoreProperty(){
        	// 暂时注释不要删除
        	//$("input[name='birthday']").removeAttr("ignore");
            //$("input[name='passportdate']").removeAttr("ignore");
            //$("input[name='guoji']").removeAttr("ignore");
            //$("input[name='placeIssue']").removeAttr("ignore");
        }
        // 证件中文姓名提示
       	function certNameHintCN(){
       		$('#name_place').attr("placeholder", "如钱多多（必填）");
       	}
        // 证件英文姓名提示
       	function certNameHintEN(){
       		$('#name_place').attr("placeholder", "如QIAN/DUO（必填）");
       	}
        //点击close关闭
        // $('.modal-close').click(function () {
        //     $('.hite_marked').fadeOut();
        // });

	</script>
	</body>

</html>