<button type="button" class="btn btn-default btn-big add-city-rank"  data-zid=$!{zid}>添加城市级别</button>

<!-- table begin -->
<table class="table table-align margin-top-20">
	<thead>
		<tr>
			<th>序号</th>
			<th>城市级别</th>
			<th>排序</th>
			<th>设置城市</th>
			<th class="table_caozuo">操作</th>
		</tr>
	</thead>
	<tbody>
	#foreach($v in $!valuelist)
		<tr>
			<td>$!{vCount}</td>
			<td>$!v.name</td>
			<td>$!v.sort</td>
			<td><a href="/crm/data/design/citylevel/$!{v.id}/$!v.name/$!flag">设置城市</a></td>
			<td class="table_caozuo">
				<div class="clear table-btn-div">
					<button type="button" class="btn btn-default btn-small edit" 
						  data-zid=$!{zid} data-vid=$!{v.id}>
						编辑
					</button>
					<button type="button" class="btn btn-danger btn-small" data-vid=$!{v.id}>删除</button>
				</div>	
			</td>
		</tr>
	 #end
	</tbody>
</table>
<!-- table end -->