<div class="aside-nav float-left background-fff auto_bottom" id="data-manage-left">
	<ul>
		<li class="aside-nav-tab" data-manageflag="tovaluelist" data-value="3" onclick="location.href='/crm/data/tovaluelist/3'">
			机票超标原因
		</li>
		<li class="aside-nav-tab" data-manageflag="air" data-value="6" onclick="location.href='/crm/data/air/6'">
			机票退票原因
		</li>
		<li class="aside-nav-tab" data-manageflag="train" data-value="5" onclick="location.href='/crm/data/train/5'">
			火车票超标原因
		</li>
		<!-- <li class="aside-nav-tab" data-manageflag="hotel" data-value="4" onclick="location.href='/crm/data/hotel/4'">
			酒店超标原因
		</li> -->
		<li class="aside-nav-tab" data-manageflag="emp" data-value="8" onclick="location.href='/crm/data/emp'">
			员工职级
		</li>
		<!-- <li class="aside-nav-tab" data-manageflag="city" data-value="2" onclick="location.href='/crm/data/city/2'">
			城市级别
		</li> -->
	</ul>
</div>