#if($!company.bianhao == 'CLKJ')
<!--<div class="float-left e-input">-->
	#if (!$status)
	<div></div>
	#end
	#if($!flags == 1)
		1、探亲费及绕道探亲的费用需自行预订，不走月结。<br/>
		2、官网价实时变动，请尽快确认出票；<br/>
		3、官网价出票时间略有延迟，建议及早预订；<br/>
		4、官网票退改处理时间略长，需等待；<br/>
		5、官网票改签后退票，退回乘机人银行卡中。
	#else
		1、探亲费及绕道探亲的费用需自行预订，不走月结。<br/>
	#end
		<!--<h3 class="margin-bottom-10">温馨提示：</h3>-->
		<!--&lt;!&ndash;<p>系统支持当前时间40分钟以后的火车票预订，您目前可预订$!{yudingTime}以后的火车票。</p>&ndash;&gt;-->
		<!--<p>探亲费及绕道探亲的费用需自行预订，不走月结。</p>-->
<!--</div>-->
#end