<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>员工职级</title>
		#parse("/common/styleSheetCommon.html")
	</head>
	<body class="background-6461e2">
		#parse("/common/head.html")
		<!-- breadcrumbs -->
		<div class="main-content margin-top-10 ">
			#parse("/crm/company/company-left.html")
		<!--<div class="bread-crums-new main-content-new margin-top-10">-->
			<!--#parse("/common/bread-crumbs.html") > <a href="/crm/employee" class="normal_a">员工管理</a> > 员工职级-->
		<!--</div>-->
		<!-- 主体 begin -->
		<div class="main-content-new margin-top-10 background-fff auto_bottom">
			<div class="content-only">
				
				#parse("/common/add-employee-level.html")				
				
			</div>
		</div>
		</div>
		<!-- 主体 end -->
		#parse("common/foot.html")
		<script type="text/javascript" src="/static/js/crm/employee/employee-level.js"></script>
	</body>
</html>
