<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>组织架构</title>
		#parse("/common/styleSheetCommon.html")
	</head>
	<body>
		<form action="/crm/project/save" method="post" id="projectForm" class="alert-form">
			<input type="hidden" name="companyid" value="$!company.id">
			<input type="hidden" name="id" value="$!pro.id">
			
			<div class="form-row">
				<span class="input-desc">项目编号</span>
				<input type="text" placeholder="必填" class="input" name="code" value="$!pro.code" autocomplete="off" datatype="*2-70"/>
			</div>
			
			<div class="form-row">
				<span class="input-desc">项目名称</span>
				<input type="text" placeholder="必填" class="input" name="name" value="$!pro.name" autocomplete="off" datatype="*2-70"/>
			</div>
			
			<div class="form-row">
				<span class="input-desc">负责人</span>
				<input type="text" placeholder="必填" class="input" name="fuzeren" value="$!pro.fuzeren" autocomplete="off" datatype="*2-70"/>
			</div>
			
			<div class="form-row">
				<span class="input-desc">开始时间</span>
				<input type="text" placeholder="必填" class="input" name="startdate" value="$!pro.startdate" 
					readonly="readonly" datatype="*2-70"  id="beginDate" 
					onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
					<!-- ,minDate:'%y-%M-%d' -->
			</div>
			
			<div class="form-row">
				<span class="input-desc">结束时间</span>
				<input type="text" placeholder="必填" class="input" name="enddate" value="$!pro.enddate" 
					readonly="readonly"  datatype="*2-70" id="enddate"
					onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="input-text radius" />
					<!-- ,minDate:'#F{$dp.$D(\'beginDate\',{d:1})}' -->
			</div>
			
			<div class="form-textarea clear">
				<span class="input-desc">备注</span>
				<textarea name="des" rows="6" class="textarea">$!pro.des</textarea>
			</div>
			
			<div class="form-row-button">
				<button type="submit" class="btn btn-default btn-big">保存</button>
				<button type="button" class="btn btn-cancel btn-big alert_close_" onclick="layer_close();">取消</button>
				
			</div>
		</form>	
		#parse("/common/foot.html")
		<script type="text/javascript" src="/static/js/crm/project-add.js"></script>
	</body>
</html>
